@import "var.less";
@title_font_size: 2.000em;
@light_blue: #5e9dd2;
@title_2: 1.786em;
@media (min-width: 1200px){
	.container {
	    max-width: 1000px;
	}
}
.container{
	>.row{
		>.header-type{
			>img{
				margin: 32px 0 28px;
			}
		}
	}
	&.article{
		margin-top: 40px;
		border: 1px solid #e9eef2;
		background-color: #ffffff;
		>.title{
			border-top: 4px solid #cfe4f7;
			>.col-lg-12{
				padding:0px;
				>.page-header{
					font-weight: bold;
					border: 0;
					margin: 0;
					color: @site_font_color;
					font-size: @title_font_size;
					padding: 0;
					float: left;
					display: inline-block;;
					margin:35px 0 35px 50px;
				}
				ul{
					float: right;
					display: inline-block;
					list-style: none;
					margin:38px 50px 0px 0px;
					li{
						display: inline-block;
						background-color: #ffffff;
						margin-top: 0;
						a{
							display: block;
							padding: 10px;
							background-position: center;
							background-repeat: no-repeat;
							background-color: 	#dadada;
							.border-radius(20);
							margin-right: 15px;
							color: #ffffff;
							text-decoration: none;
							&.tw{
								//background-image: url(../images/share/tw.png);
								&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
									background-color: #1da1f2 !important;
								}
							}
							&.gplus{
								padding: 10px 9px;
								&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
									background-color: #d73d32 !important;
								}
								//background-image: url(../images/share/gplus.png);
							}
							&.fb{
								padding: 10px 14px;
								&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
									background-color: #3b5998 !important;
								}
								//background-image: url(../images/share/fb.png);
							}
							&.link{
								&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
									background-color: #4FA2E7 !important;
								}
								//background-image: url(../images/share/link.png);
							}
						}
						&:last-child{
							a{
								margin-right: 0;
							}
						}
					}
				}
			}
		}
		>.row{
			>div{
				&.content{
					padding: 50px;
					>.title-1{
						>h1{
							color: @site_font_color;
							font-size: @title_font_size;
							font-weight: bold;
							margin: 0px 0 30px 0;
						}
					}
					p{
						font-size: 1.286em;
						color: #8f8f8f;
						line-height: 28px;
						margin: 0;
					}
					&.spilt-pra{
						>p{
							margin-bottom: 35px;
						}
					}
				}
				&.muti-pra{
					p{
						margin: 0 0 30px 0;
					}
					>.title-1{
						padding-top: 50px;
					}
					>.title-2{
						>h2{
							color: @light_blue;
							font-size: @title_2;
							font-weight: bold;
							margin: 0 0 25px 0;
						}
					}
					>.pic{
						float: left;
						width: 100%;
						margin-bottom: 40px;
						>.left{
							width: 48%;
							margin-right: 2%;
							display: inline-block;
							float: left;
						}
						>.right{
							width: 48%;
							margin-left: 2%;
							display: inline-block;
							float: left;
						}
					}
					>.pic-3{
						>.left{
							margin-right: 2%;
							width: 31.333333%
						}
						>.middle{
							float: left;
							display: inline-block;
							margin-right: 2%;
							width: 31.333333%
						}
						>.right{
							margin-right: 0;
							width: 31.333333%
						}
					}
				}
				&.safety-info{
					padding-bottom: 0;
					padding-top: 0;
				}
			}
			&.last{
				padding-bottom: 20px;
			}
		}
	}
	&.goods{
		>.row{
			&.youtube{
				margin-bottom: 40px;
			}
			>div{
				&.content{
					float: left;
					padding-top: 0;
          &.no-float{
            float: none;
          }
					p{
						float: left;
					}
					>.real-good-img{
						margin: 0 auto;
						position: relative;
						text-align: center;
						img{
							max-width: 747px;
						}
						>div{
							position: absolute;
							text-align: left;
							color: @light_blue;
							font-size: 1.286em;
							font-weight: bold;
							&.tips-1{
								left: 16%;
								top: 18%
							}
							&.tips-2{
								top: 19%;
   		 						right: 9%;
							}
						}
					}
				}
			}
		}
	}
	&.site-map{
		>.row{
			&.dot-border{
				border-bottom: 1px dotted #000000;
				width: 98%;
				margin: 0 auto;
				display: block;
			}
			>div{
				&.content{
					padding-top: 35px;
					>ul{
						list-style: none;
						padding-left: 0;
						>li{
							margin-top: 25px;
							a{
								font-size: 1.714em;
								color: @site_font_color;
								font-weight: bold;
								text-decoration: none;
							}
							>ul{
								list-style: disc;
								margin-top: 25px;
								padding-left: 30px;
								>li{
									a{
										color: #626262;
										font-size: @site_normal_font_size
									}
								}
							}
							&:first-child{
								margin-top: 0;
							}
						}

					}
				}
			}
		}
	}
	>.kv{

	}
}
.s2{
	margin-top: 15px;
	>.row{
		>div{
			&.nopadding{
				padding-right: 0;
			}
			&:first-child{
				background-color: #ffffff;
			}
			>div{
				background-color: #ffffff;
				.title{
					padding: 25px 20px 0 20px;
          padding-right: 10px;
					color: @site_font_color;
					font-size: @title_font_size;
					font-weight: bold;
				}
				.desc{
					padding: 5px 20px 25px 20px;
					color: #8f8f8f;
					font-size: 1.286em;
					border-bottom: 1px dotted #e5e5e5;
					line-height: 28px;
				}
				.pic{
					text-align: center;
					padding-top: 50px;
					padding-bottom: 20px;
					>img{
						max-width: 80px;
						&.zoom{
							max-width: 93px;
						}
						&.book{
							max-width: 104px
						}
					}
				}
				.pic-title{
					text-align: center;
					font-size: 1.571em;
					font-weight: bold;
					color: #636363;
					padding-bottom: 55px;
				}
				.link{
					text-align: center;
					margin-bottom: 30px;
					>a{
						//display: block;
						margin: 0 auto;
						background-color: @site_font_color;
						text-decoration: none;
						padding: 8px 30px 8px 35px;
						.border-radius(25);
						font-size: 1.571em;
						color: #ffffff;
						font-weight: bold;
						max-width: 155px;
					}
				}
				&.left{
					padding-left: 0;
					>.pic{
						margin-top: 20px;
					}
					>.link{
						margin-bottom: 50px;
					}
				}
				&.right{
					>.desc{
						padding-bottom: 48px;
					}
				}
				.border-margin{
					margin: 20px 0;
					&:first-child{
						border-right:1px solid #d3d3d3;
					}
				}
			}
		}
	}
}
@media (max-width: 991px){
	.s2{
		>.row{
			padding: 0;
			>div{
				>div{
					&.left{
						>.pic{
							padding-top: 4px;
							margin-top: 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 769px){
.s2{
	>.row{
		>div{
			>div{
				.pic-title{
					font-size: 1.286em
				}
			}
		}
	}
}
.container{
	&.goods{
		>.title{
			.col-lg-12{
				>.page-header{
					margin-bottom: 0 !important;
				}
				ul{
					float: left;
					margin-top: 20px;
					margin-bottom: 20px;
					margin-left: 5px;
				}
			}
		}
		>.row{
			&.youtube{
			}
			>div{
				&.content{
					>.real-good-img{
						img{
						}
						>div{
							&.tips-1{
								left: 9%;
								top: 18%
							}
							&.tips-2{
   		 						right: -1%;
							}
						}
					}
				}
			}
		}
	}
	>.kv{

	}
}
}
@media (max-width: 767px) {

body{
	padding-top: 115px;
}
.container{
	>.row{
		>.header-type{
			>img{
				margin: 32px 0 28px;
			}
		}
	}
	&.article{
		margin-top: 17px;
		border: 1px solid #e9eef2;
		background-color: #ffffff;
		>.title{
			border-top: 4px solid @site_font_color;
			>.col-lg-12{
				>.page-header{
					margin: 34px 8%;
					font-weight: bold;
					border: 0;
					color: @site_font_color;
					padding: 0;
				}
			}
		}
		>.row{
			>div{
				&.content{
					padding: 40px 8% 50px 8%;
				}
				&.muti-pra{
					p{
						margin: 0 0 30px 0;
					}
					>.title-1{
						padding-top: 50px;
					}
					>.title-2{
						>h2{
							color: @light_blue;
							font-size: @title_2;
							font-weight: bold;
							margin: 0 0 25px 0;
						}
					}
					>.pic{
						float: left;
						width: 100%;
						margin-bottom: 40px;
						>.left{
							width: 100%;
							margin-right: 0;
							display: inline-block;
							float: left;
						}
						>.right{
							width: 0;
							margin-left: 0;
						}
					}
					>.pic-3{
						>.left{
							margin-right: 2%;
							width: 49%
						}
						>.middle{
							margin-right: 0;
							width: 49%
						}
						>.right{
							margin-right: 0;
							width: 0
						}
					}
				}
				&.safety-info{
					padding-bottom: 0;
					padding-top: 0;
				}
				>p{
					font-size: 1.143em;
					color: #8f8f8f;
					line-height: 28px;
					margin-bottom: 30px;
				}
			}
		}
	}
	>.kv{

	}
}
.s2{
	margin-top: 15px;
	background-color: #ffffff;
	>.row{
		padding: 0;
		>div{
			&.nopadding{
				padding: 0;
			}
			&:first-child{
				background-color: #ffffff;
				border-bottom: 8px solid #eff4f8;
			}
			>div{
				background-color: #ffffff;
				.title{
					color: @site_font_color;
					padding: 20px 8% 5px;
				}
				.desc{
					padding: 0 8% 25px;
					color: #8f8f8f;
					//font-size: 1.143em;

					border: 0;
				}
				.pic{
					width: 29%;
					padding: 0 0 0 8%;
					margin-top:0;
					float: left;
					display: inline-block;
					margin: 30px 0;
					>img{
						//width: 80%
					  max-width: 61px !important
					}
				}
				.pic-title{
					width: 60%;
					padding: 0;
					float: left;
					display: inline-block;
					vertical-align: middle;
					line-height: 383%;
					padding-left: 0%;
					margin: 20px 0;
					text-align: left;
					padding-left: 10px;
				}
				.link{
					width: 11%;
					max-width: 44px;
					display: inline-block;
					float: right;
					padding: 27px 3% 0 0;
					margin: 20px 0;
					>a{

						padding: 0px;
						width: 100%;
						background-color: #ffffff;
						img{
							width: 100%;
							max-width: 28px;
						}
					}
				}
				&.left{
					padding: 0;
					border-bottom: 1px dotted #e5e5e5;
					>.pic{
						margin-top:20px;
					}
					>.link{
						margin-bottom: 0px;
					}
				}
				&.right{
					padding: 0;
					border-bottom: 1px dotted #e5e5e5;
					>.desc{
						padding-bottom: 25px;
					}
				}
				&.right-bottom{
					padding: 0 3% 0 8%;
					.pic{
						padding-left: 0;
						padding-right: 0;
					}
					.link{
						padding-left: 0;
						padding-right: 0;
					}
				}
				.border-margin{
					padding: 0;
					margin: 0;
					&:first-child{
						border-right:0;
						border-bottom:1px solid #d3d3d3;
						margin-bottom: 0;
					}
					&:last-child{
						margin-top: 0;
					}
				}
			}
		}
	}
}
}

@media (max-width: 568px){
	.container{
		&.goods{
			>.row{
				>.col-lg-12{
					padding-bottom: 0;
				}
				&.youtube{
					margin-bottom: 0;
					iframe{
						height: 215px;
					}
				}
				>div{
					&.content{
						>.real-good-img{
							img{
							}
							>div{
								display: list-item;
								list-style: decimal;
								margin-left: 25px;
								padding-left: 5px;
								color: #8f8f8f;
								font-weight: 400;
								&.tips-1{
									margin-top: 30px;
									left: 0;
									top: 0;
									position: relative;
								}
								&.tips-2{
									margin-top: 20px;
									top: 0;
									right: 0;
	   		 						position: relative;
								}
							}
						}
					}
				}
			}
		}
	}
  .s2{
  	>.row{
  		>div{
  			>div{
  				.pic-title{
  					font-size: 1.286em;
  					line-height: 473%;
  				}
          .link {
            padding: 24px 3% 0 0;
          }
  			}
  		}
  	}
  }
}
@media (max-width: 375px) {
.s2{
	>.row{
		>div{
			>div{
				.pic-title{
					font-size: 1.143em;
					line-height: 521%;
				}
			}
		}
	}
}
}
@media (max-width: 320px) {
.s2{
	>.row{
		>div{
			>div{
				.pic-title{
					font-size: 1em;
					line-height: 590%;
				}
			}
		}
	}
}
}
