/* Less CSS Document */
/* Will be auto compiled to CSS file on save */
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
.container > .row > .header-type > img {
  margin: 32px 0 28px;
}
.container.article {
  margin-top: 40px;
  border: 1px solid #e9eef2;
  background-color: #ffffff;
}
.container.article > .title {
  border-top: 4px solid #cfe4f7;
}
.container.article > .title > .col-lg-12 {
  padding: 0px;
}
.container.article > .title > .col-lg-12 > .page-header {
  font-weight: bold;
  border: 0;
  margin: 0;
  color: #073d7d;
  font-size: 2em;
  padding: 0;
  float: left;
  display: inline-block;
  margin: 35px 0 35px 50px;
}
.container.article > .title > .col-lg-12 ul {
  float: right;
  display: inline-block;
  list-style: none;
  margin: 38px 50px 0px 0px;
}
.container.article > .title > .col-lg-12 ul li {
  display: inline-block;
  background-color: #ffffff;
  margin-top: 0;
}
.container.article > .title > .col-lg-12 ul li a {
  display: block;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #dadada;
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  margin-right: 15px;
  color: #ffffff;
  text-decoration: none;
}
.container.article > .title > .col-lg-12 ul li a.tw.hvr-fade:hover,
.container.article > .title > .col-lg-12 ul li a.tw .hvr-fade:focus,
.container.article > .title > .col-lg-12 ul li a.tw .hvr-fade:active {
  background-color: #1da1f2 !important;
}
.container.article > .title > .col-lg-12 ul li a.gplus {
  padding: 10px 9px;
}
.container.article > .title > .col-lg-12 ul li a.gplus.hvr-fade:hover,
.container.article > .title > .col-lg-12 ul li a.gplus .hvr-fade:focus,
.container.article > .title > .col-lg-12 ul li a.gplus .hvr-fade:active {
  background-color: #d73d32 !important;
}
.container.article > .title > .col-lg-12 ul li a.fb {
  padding: 10px 14px;
}
.container.article > .title > .col-lg-12 ul li a.fb.hvr-fade:hover,
.container.article > .title > .col-lg-12 ul li a.fb .hvr-fade:focus,
.container.article > .title > .col-lg-12 ul li a.fb .hvr-fade:active {
  background-color: #3b5998 !important;
}
.container.article > .title > .col-lg-12 ul li a.link.hvr-fade:hover,
.container.article > .title > .col-lg-12 ul li a.link .hvr-fade:focus,
.container.article > .title > .col-lg-12 ul li a.link .hvr-fade:active {
  background-color: #4FA2E7 !important;
}
.container.article > .title > .col-lg-12 ul li:last-child a {
  margin-right: 0;
}
.container.article > .row > div.content {
  padding: 50px;
}
.container.article > .row > div.content > .title-1 > h1 {
  color: #073d7d;
  font-size: 2em;
  font-weight: bold;
  margin: 0px 0 30px 0;
}
.container.article > .row > div.content p {
  font-size: 1.286em;
  color: #8f8f8f;
  line-height: 28px;
  margin: 0;
}
.container.article > .row > div.content.spilt-pra > p {
  margin-bottom: 35px;
}
.container.article > .row > div.muti-pra p {
  margin: 0 0 30px 0;
}
.container.article > .row > div.muti-pra > .title-1 {
  padding-top: 50px;
}
.container.article > .row > div.muti-pra > .title-2 > h2 {
  color: #5e9dd2;
  font-size: 1.786em;
  font-weight: bold;
  margin: 0 0 25px 0;
}
.container.article > .row > div.muti-pra > .pic {
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
.container.article > .row > div.muti-pra > .pic > .left {
  width: 48%;
  margin-right: 2%;
  display: inline-block;
  float: left;
}
.container.article > .row > div.muti-pra > .pic > .right {
  width: 48%;
  margin-left: 2%;
  display: inline-block;
  float: left;
}
.container.article > .row > div.muti-pra > .pic-3 > .left {
  margin-right: 2%;
  width: 31.333333%;
}
.container.article > .row > div.muti-pra > .pic-3 > .middle {
  float: left;
  display: inline-block;
  margin-right: 2%;
  width: 31.333333%;
}
.container.article > .row > div.muti-pra > .pic-3 > .right {
  margin-right: 0;
  width: 31.333333%;
}
.container.article > .row > div.safety-info {
  padding-bottom: 0;
  padding-top: 0;
}
.container.article > .row.last {
  padding-bottom: 20px;
}
.container.goods > .row.youtube {
  margin-bottom: 40px;
}
.container.goods > .row > div.content {
  float: left;
  padding-top: 0;
}
.container.goods > .row > div.content.no-float {
  float: none;
}
.container.goods > .row > div.content p {
  float: left;
}
.container.goods > .row > div.content > .real-good-img {
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.container.goods > .row > div.content > .real-good-img img {
  max-width: 747px;
}
.container.goods > .row > div.content > .real-good-img > div {
  position: absolute;
  text-align: left;
  color: #5e9dd2;
  font-size: 1.286em;
  font-weight: bold;
}
.container.goods > .row > div.content > .real-good-img > div.tips-1 {
  left: 16%;
  top: 18%;
}
.container.goods > .row > div.content > .real-good-img > div.tips-2 {
  top: 19%;
  right: 9%;
}
.container.site-map > .row.dot-border {
  border-bottom: 1px dotted #000000;
  width: 98%;
  margin: 0 auto;
  display: block;
}
.container.site-map > .row > div.content {
  padding-top: 35px;
}
.container.site-map > .row > div.content > ul {
  list-style: none;
  padding-left: 0;
}
.container.site-map > .row > div.content > ul > li {
  margin-top: 25px;
}
.container.site-map > .row > div.content > ul > li a {
  font-size: 1.714em;
  color: #073d7d;
  font-weight: bold;
  text-decoration: none;
}
.container.site-map > .row > div.content > ul > li > ul {
  list-style: disc;
  margin-top: 25px;
  padding-left: 30px;
}
.container.site-map > .row > div.content > ul > li > ul > li a {
  color: #626262;
  font-size: 1.286em;
}
.container.site-map > .row > div.content > ul > li:first-child {
  margin-top: 0;
}
.s2 {
  margin-top: 15px;
}
.s2 > .row > div.nopadding {
  padding-right: 0;
}
.s2 > .row > div:first-child {
  background-color: #ffffff;
}
.s2 > .row > div > div {
  background-color: #ffffff;
}
.s2 > .row > div > div .title {
  padding: 25px 20px 0 20px;
  padding-right: 10px;
  color: #073d7d;
  font-size: 2em;
  font-weight: bold;
}
.s2 > .row > div > div .desc {
  padding: 5px 20px 25px 20px;
  color: #8f8f8f;
  font-size: 1.286em;
  border-bottom: 1px dotted #e5e5e5;
  line-height: 28px;
}
.s2 > .row > div > div .pic {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.s2 > .row > div > div .pic > img {
  max-width: 80px;
}
.s2 > .row > div > div .pic > img.zoom {
  max-width: 93px;
}
.s2 > .row > div > div .pic > img.book {
  max-width: 104px;
}
.s2 > .row > div > div .pic-title {
  text-align: center;
  font-size: 1.571em;
  font-weight: bold;
  color: #636363;
  padding-bottom: 55px;
}
.s2 > .row > div > div .link {
  text-align: center;
  margin-bottom: 30px;
}
.s2 > .row > div > div .link > a {
  margin: 0 auto;
  background-color: #073d7d;
  text-decoration: none;
  padding: 8px 30px 8px 35px;
  -webkit-border-radius: 25px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 25px;
  -moz-background-clip: padding;
  border-radius: 25px;
  background-clip: padding-box;
  font-size: 1.571em;
  color: #ffffff;
  font-weight: bold;
  max-width: 155px;
}
.s2 > .row > div > div.left {
  padding-left: 0;
}
.s2 > .row > div > div.left > .pic {
  margin-top: 20px;
}
.s2 > .row > div > div.left > .link {
  margin-bottom: 50px;
}
.s2 > .row > div > div.right > .desc {
  padding-bottom: 48px;
}
.s2 > .row > div > div .border-margin {
  margin: 20px 0;
}
.s2 > .row > div > div .border-margin:first-child {
  border-right: 1px solid #d3d3d3;
}
@media (max-width: 991px) {
  .s2 > .row {
    padding: 0;
  }
  .s2 > .row > div > div.left > .pic {
    padding-top: 4px;
    margin-top: 0;
  }
}
@media (max-width: 769px) {
  .s2 > .row > div > div .pic-title {
    font-size: 1.286em;
  }
  .container.goods > .title .col-lg-12 > .page-header {
    margin-bottom: 0 !important;
  }
  .container.goods > .title .col-lg-12 ul {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .container.goods > .row > div.content > .real-good-img > div.tips-1 {
    left: 9%;
    top: 18%;
  }
  .container.goods > .row > div.content > .real-good-img > div.tips-2 {
    right: -1%;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 115px;
  }
  .container > .row > .header-type > img {
    margin: 32px 0 28px;
  }
  .container.article {
    margin-top: 17px;
    border: 1px solid #e9eef2;
    background-color: #ffffff;
  }
  .container.article > .title {
    border-top: 4px solid #073d7d;
  }
  .container.article > .title > .col-lg-12 > .page-header {
    margin: 34px 8%;
    font-weight: bold;
    border: 0;
    color: #073d7d;
    padding: 0;
  }
  .container.article > .row > div.content {
    padding: 40px 8% 50px 8%;
  }
  .container.article > .row > div.muti-pra p {
    margin: 0 0 30px 0;
  }
  .container.article > .row > div.muti-pra > .title-1 {
    padding-top: 50px;
  }
  .container.article > .row > div.muti-pra > .title-2 > h2 {
    color: #5e9dd2;
    font-size: 1.786em;
    font-weight: bold;
    margin: 0 0 25px 0;
  }
  .container.article > .row > div.muti-pra > .pic {
    float: left;
    width: 100%;
    margin-bottom: 40px;
  }
  .container.article > .row > div.muti-pra > .pic > .left {
    width: 100%;
    margin-right: 0;
    display: inline-block;
    float: left;
  }
  .container.article > .row > div.muti-pra > .pic > .right {
    width: 0;
    margin-left: 0;
  }
  .container.article > .row > div.muti-pra > .pic-3 > .left {
    margin-right: 2%;
    width: 49%;
  }
  .container.article > .row > div.muti-pra > .pic-3 > .middle {
    margin-right: 0;
    width: 49%;
  }
  .container.article > .row > div.muti-pra > .pic-3 > .right {
    margin-right: 0;
    width: 0;
  }
  .container.article > .row > div.safety-info {
    padding-bottom: 0;
    padding-top: 0;
  }
  .container.article > .row > div > p {
    font-size: 1.143em;
    color: #8f8f8f;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .s2 {
    margin-top: 15px;
    background-color: #ffffff;
  }
  .s2 > .row {
    padding: 0;
  }
  .s2 > .row > div.nopadding {
    padding: 0;
  }
  .s2 > .row > div:first-child {
    background-color: #ffffff;
    border-bottom: 8px solid #eff4f8;
  }
  .s2 > .row > div > div {
    background-color: #ffffff;
  }
  .s2 > .row > div > div .title {
    color: #073d7d;
    padding: 20px 8% 5px;
  }
  .s2 > .row > div > div .desc {
    padding: 0 8% 25px;
    color: #8f8f8f;
    border: 0;
  }
  .s2 > .row > div > div .pic {
    width: 29%;
    padding: 0 0 0 8%;
    margin-top: 0;
    float: left;
    display: inline-block;
    margin: 30px 0;
  }
  .s2 > .row > div > div .pic > img {
    max-width: 61px !important;
  }
  .s2 > .row > div > div .pic-title {
    width: 60%;
    padding: 0;
    float: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 383%;
    padding-left: 0%;
    margin: 20px 0;
    text-align: left;
    padding-left: 10px;
  }
  .s2 > .row > div > div .link {
    width: 11%;
    max-width: 44px;
    display: inline-block;
    float: right;
    padding: 27px 3% 0 0;
    margin: 20px 0;
  }
  .s2 > .row > div > div .link > a {
    padding: 0px;
    width: 100%;
    background-color: #ffffff;
  }
  .s2 > .row > div > div .link > a img {
    width: 100%;
    max-width: 28px;
  }
  .s2 > .row > div > div.left {
    padding: 0;
    border-bottom: 1px dotted #e5e5e5;
  }
  .s2 > .row > div > div.left > .pic {
    margin-top: 20px;
  }
  .s2 > .row > div > div.left > .link {
    margin-bottom: 0px;
  }
  .s2 > .row > div > div.right {
    padding: 0;
    border-bottom: 1px dotted #e5e5e5;
  }
  .s2 > .row > div > div.right > .desc {
    padding-bottom: 25px;
  }
  .s2 > .row > div > div.right-bottom {
    padding: 0 3% 0 8%;
  }
  .s2 > .row > div > div.right-bottom .pic {
    padding-left: 0;
    padding-right: 0;
  }
  .s2 > .row > div > div.right-bottom .link {
    padding-left: 0;
    padding-right: 0;
  }
  .s2 > .row > div > div .border-margin {
    padding: 0;
    margin: 0;
  }
  .s2 > .row > div > div .border-margin:first-child {
    border-right: 0;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 0;
  }
  .s2 > .row > div > div .border-margin:last-child {
    margin-top: 0;
  }
}
@media (max-width: 568px) {
  .container.goods > .row > .col-lg-12 {
    padding-bottom: 0;
  }
  .container.goods > .row.youtube {
    margin-bottom: 0;
  }
  .container.goods > .row.youtube iframe {
    height: 215px;
  }
  .container.goods > .row > div.content > .real-good-img > div {
    display: list-item;
    list-style: decimal;
    margin-left: 25px;
    padding-left: 5px;
    color: #8f8f8f;
    font-weight: 400;
  }
  .container.goods > .row > div.content > .real-good-img > div.tips-1 {
    margin-top: 30px;
    left: 0;
    top: 0;
    position: relative;
  }
  .container.goods > .row > div.content > .real-good-img > div.tips-2 {
    margin-top: 20px;
    top: 0;
    right: 0;
    position: relative;
  }
  .s2 > .row > div > div .pic-title {
    font-size: 1.286em;
    line-height: 473%;
  }
  .s2 > .row > div > div .link {
    padding: 24px 3% 0 0;
  }
}
@media (max-width: 375px) {
  .s2 > .row > div > div .pic-title {
    font-size: 1.143em;
    line-height: 521%;
  }
}
@media (max-width: 320px) {
  .s2 > .row > div > div .pic-title {
    font-size: 1em;
    line-height: 590%;
  }
}
