@import "var.less"; 
a:hover{text-decoration: none;}
body{color: @site_font_color;}
.container{position: relative;}
.line{
	width: 100%;
	margin: 20px 0;
}
.swiper-slide{
	.display(flex);
	.justify-content(center);
}
#kv .swiper-container{
	overflow-y: visible;
}
.link {
	text-align: right;
	margin-top: 30px;
	margin-bottom: 10px;
	a{
		background-color: @site_font_color;
		text-decoration: none;
		padding: 8px 30px 8px 35px;
		.border-radius(25);
		font-size: 1.571em;
		color: #ffffff;
		font-weight: bold;
		width: 180px;
		text-align: center;
	}
}
.album-wrap{
	.display(flex);
	.flex-wrap(wrap);
	//.justify-content(space-between);
}
.thumb{
	width: 180px;
	background-color: #fff;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	.display(flex);
	.flex-wrap(wrap);
	.justify-content(center);
	.align-items(center);

	.candidate{
		position: relative;
		.photo{
			.mix_ratio(1,1);
			width: 180px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
		&:after{
				content: "";
				width: 100%;
				position: absolute;
				display: inline-block;
				height: 4px;
		}
		&.first:after{background-color: #ff6a00;}
		&.new:after{background-color: #00aae7;}
		&.organic:after{background-color: #14b332;}

	}
	.desc{
		width: 100%;
	}
	.name{
		font-weight: bold;
		text-align: center;
		margin-top: 10px;
	}
	.icon-wrap{
		margin: 20px 0 10px 0;
		padding: 0 30px;
		.display(flex);
		.flex-wrap(wrap);
		.justify-content(space-around);
		.like, .share{
			.display(flex);
			.flex-wrap(wrap);
			.justify-content(space-around);				
		}
		a{
			text-decoration: none;
			cursor: pointer;
		}
		.like{
			span{
				.display(flex);
				.align-items(center);
				margin-left: 3px;
			}
		}
		.fa{
			color: #fff;
			width: 26px;
			height: 26px;
			border-radius: 50%;
			.display(flex);
			.align-items(center);
			.justify-content(center);
			cursor:pointer;
		}
		.fa-thumbs-up{
			background-color: #31599c;
		}
		.fa-share-alt{
			background-color: #dedede;
		}
	}
}
#pop-tnc{
	.wrap{
		background-color: #fff; 
		max-width: 800px;
		width: 95%;
		display: block;
		margin: 0 auto;
		padding: 20px;
		position: relative;
		.pop-close{
			position: absolute;
			right: 20px;
			top: 10px;
			font-size: 2em;
			cursor: pointer;
			.transition(all .3s ease-in-out);
			&:hover{
				.translateY(-3px;)
			}
		}
		h1{
			font-size: 1.3em;
			font-weight: bold;
			margin-top: 20px;
			&:after{
				content: "";
				background-color: rgba(94, 155, 210, 0.3);
				width: 100%;
				height: 3px;
				display: block;
				position: relative;
				margin-top: 10px;
			}
		}
		ol{
			list-style-type: decimal;
			margin-top: 10px;
			height: 500px;
			overflow-y: auto;
			width: 100%;
			&::-webkit-scrollbar {
				width: 5px;
			}
			&::-webkit-scrollbar-thumb {
				background-color: #e2eefa;
				border-radius: 5px;
			}
			li{
				margin-top: 10px;
				line-height: 120%;
				color: #808080;
			}
		}
	}
	button.mfp-close{
		display: none !important;
	}
}
section#kv{
.vdo-wrap{
	width: 100%;
	max-width: 600px;
}
.embed-container { 
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
	.bg-wrap{
		position: relative;
		margin-bottom: 30px;
		.bg{
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			height: 400px;		
		}
	}
	.word-wrap{
		position: absolute;
		left: 20px;
		bottom: 20px;
	}
	.tnc{
		position: absolute;
		right: 10px;
		bottom: 10px;
		a{
			color: #073d7d;
		}
	}
}
section#upload{
	.head{
		font-weight: bold;
		font-size: 1.339em;
	}
}
section#prize{
	.box{
		background-color: #fff;
		border: 10px solid #5e9bd2;
		color: #0c407a;
		padding: 20px 10px;
		text-align: center;
		position: relative;
		margin-top: 40px;
		width: 100%;
		.display(flex);
		.flex-wrap(wrap);
		.justify-content(center);
		.align-items(center);
		img{
			display: block;
			margin: 0 auto 0 auto;
			width: 100%;
			&#trophy{
				width: 300px;
				margin-top: -55px;
			}
			&#yogurt{
				max-width: 126px;
				width: 126px;
				margin-top: -55px;
			}
			&#coupon{
				width: 263px;
			}
		}	
		.title{
			font-weight: bold;
			margin: 10px 0;
			font-size: 1.643em;
		}
		.desc{
			margin: 10px 0;
			font-size: 1.143em;
			font-weight: 300;
		}
	}
}

section#album{
	margin-top: 30px;
	#headline{
		width: 100%;
		max-width: 438px;
	}
	input[name="bb_name"]{
		border-radius: 25px;
		border: none;
		padding: 10px 32px 10px 20px;
		width: 100%;
    	background: url(../images/contest/magnifier.png) right 10px center no-repeat #fff;
		&::-webkit-input-placeholder {color: #d4dee6;}
		&::-moz-placeholder {color: #d4dee6;}
		&:-ms-input-placeholder {color: #d4dee6;}
		&:-moz-placeholder {color: #d4dee6;}
	}
	.category{
		padding: 10px;
		.transition(all 0.3s ease-in-out);
		&.sty1{
			background-color: #ff6a00;
			img{
				max-width: 50px;
				width: 100%;
			}
			.cat-wrap .right{
				padding-left: 10px;
			}
		}
		&.sty2{
			background-color: #00aae7;
			img{
				max-width: 50px;
				width: 100%;
			}
			.cat-wrap .right{
				padding: 0 10px;
			}
		}
		&.sty3{
			background-color: #14b332;
			img{
				width: 80px;
				position: absolute;
				top: -5px;
				left: -5px;
			}
			.cat-wrap .right{
				padding: 0 10px 0px 23px;
			}
		}
		.cat-wrap{
			.display(flex);
			.justify-content(center);
			.align-items(center);
			position: relative;
			color: #fff;
			border: 1px solid #fff;
			padding: 20px 10px;
			height: 123px;
			.left{
				width: 20%;
			}
			.right{
				width: 80%;
			}
			.head{
				font-weight: bold;
				font-size: 1.414em;
				margin-bottom: 10px;
			}
			.desc{
				font-size: 1em;
			}
		}
	}
}

//desktop + desktop_wide
@media (min-width: 992px) {
	section#kv{
		.bg-wrap{
			margin: 25px 0 20px 0;
		}
		.swiper-pagination-bullets{
			bottom: 20px;
		}
		.swiper-pagination-bullet{
			background: #155995;
			opacity: 0.3;
		}
		.swiper-pagination-bullet-active{
			background: #489ed8;
			opacity: 1;
		}
		.swiper-pagination-bullets .swiper-pagination-bullet{
			margin: 0 8px;
		}
	}
	section#prize{
		.box{
			height: 355px;
			.top{
				height: 40%;
			}
			.bottom{
				height: 60%;
				padding-top: 40px;
				width: 100%;
			}
		}
	}
	section#album{
		.row.cat{
			margin-top: 20px;
			.col.active{
				&:after{
					content: "";
					left: 50%;
					top: -3px;
					.translate(-50%, 0);
					display: inline-block;
					position: relative;
					border-style: solid;
					border-width: 12px 10px 0 10px;
				}
			}
			.col:nth-of-type(1).active:after{
				border-color: #ff6a00 transparent transparent transparent;
			}
			.col:nth-of-type(2).active:after{
				border-color: #00aae7 transparent transparent transparent;
			}
			.col:nth-of-type(3).active:after{
				border-color: #14b332 transparent transparent transparent;
			}
			.col:nth-of-type(1):not(.active) .category.sty1:hover{
				background-color: darken(#ff6a00,6%);
				.translateY(-3px);
			}
			.col:nth-of-type(2):not(.active) .category.sty2:hover{
				background-color: darken(#00aae7,6%);
				.translateY(-3px);
			}
			.col:nth-of-type(3):not(.active) .category.sty3:hover{
				background-color: darken(#14b332,6%);
				.translateY(-3px);
			}
		}
		.promotion{
			width: 385px;
			margin-top: 18px;
			.display(flex);
			.justify-content(center);
			.align-items(center);
			img{
				width: 100%;
				height: auto;
				max-width: 385px;
			}
		}
		.pagination {
			display: block;
			.display(flex);
			.justify-content(center);
			.align-items(center);
			margin-top: 30px;
			a {
				float: left;
				padding: 8px 16px;
				text-decoration: none;
				color: #bfd2e2;
				font-size: 1.2em;
				&.active{
					color: @site_font_color;
					font-weight: bold;
				}
				&:hover{
					color: @site_font_color;
				}
			}
			.prev{
				height: 1em;
				position: relative;
				top: -2px;
			}
			.next{
				height: 1em;
				position: relative;
				top: -2px;
			}
			.detail{
				position: absolute;
				right: 30px;
				font-size: 1.2em;
				span{
					font-weight: bold;
				}
			}
		}
	}
}
//desktop + desktop_wide

//desktop_wide
@media (min-width: 1366px) {
}
//desktop_wide

//desktop
@media (min-width: 992px) and (max-width: 1365px) {
} 
//desktop


//tablet + mobile
@media (max-width: 991px) {
	section#kv{
		.container{
			padding-left: 0;
			padding-right: 0;
		}
		.swiper-pagination-bullets{
			bottom: -30px;
		}
		.swiper-pagination-bullet{
			background: #c5c3c4;
			opacity: 1;
		}
		.swiper-pagination-bullet-active{
			background: #003c82;
			opacity: 1;
			.scale(1.3);
		}
		.swiper-pagination-bullets .swiper-pagination-bullet{
			margin: 0 5px;
		}
	}
	section#upload {
		.head {
			font-size: 1.643em;
			text-align: center;
			margin-top: 30px;
		}
		.link a{
			border-radius: 50px;
			border: none;
			padding: 20px 35px;
			max-width: 320px;
			width: 100%;
		}
	}

	section#album{
		padding-bottom: 20px;
		.category{
			max-width: 304px;
		}
		.cat{
			&.swiper-container{
				width: 100%;
				max-height: 260px;
				margin: 0 auto 20px auto;
			}
			.swiper-slide{
				width: 150px;
				.display(flex);
				.justify-content(center);
				.align-items(center);
				&.promo{
					width: 325px !important;
					margin-top: 20px;
				}
			}
			.promotion{
				img{
					height: 220px;
					width: auto;
				}
			}
		}
	}
}
//tablet + mobile
//tablet 
@media (min-width: 568px) and (max-width: 991px) {
	section#upload{
		.link{
			text-align: center;
		}
	}
	section#prize{
		.row{
			//.display(flex);
			//.justify-content(center);
			//.flex-wrap(wrap);
		}
		.box{
			height: 355px;
		}
	}
	section#album{
		.category{
			margin-top: 20px;
			margin-left: 15px;
		}
	}
}
//tablet

//mobile 
@media (max-width: 567px) {
	.thumb{
		width: 150px;	
		.candidate{
			.photo{
				width: 150px;
			}
		}
	}
	section#prize{
		margin-bottom: 70px;
		.box{
			img{
				&#trophy{
					width: 100%;
					left: 0;
				}
			}
		}
	}
	section#album{
		input[name="bb_name"]{
			margin-top: 10px;
		}
		.category{
			margin: 20px auto 0 auto;
		}
	}
	#pop-tnc .wrap h1{
		font-size: 1em;
	}
}
//mobile