@import "var.less";

//
.IE label[for="upload"],label[for="proof"]{
    background-image: url(../images/form/addbtn.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 45px;
    height: 45px;
    background-size: contain;
    margin-top: 5px;
    vertical-align: middle;
}
//input check box
input[type="checkbox"].css-checkbox:checked+label.css-label {
    background-image: url(../images/form/csschecked.png);
}
input[type="checkbox"].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type="checkbox"].css-checkbox+label.css-label {
    padding-left: 29px;
    display: inline-block;
    line-height: 140%;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
}
label.css-label {
    background-image: url(../images/form/csscheck.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dragdrop-wrapper{
	width:100%;
	height:300px;
    #dragdrop{
        width: 100%;
        max-width: 100px;
        height: auto;
    }
    #droparea{
        padding: 30px 30px 10px 30px;
        height: 300px;
        background-color: #fff;
        .display(flex);
        .justify-content(center);
        .align-items(center);
        .dropfiletext{
            font-size:1.339em;
            font-weight:bold;
            margin-top: 30px;
        }
        .uploadbtn{
            background-color: transparent;
            border: none;
            text-decoration: underline;
            cursor:pointer;
            font-weight:bold;
        }
    } 
    #upload{
        visibility:hidden;
        opacity:0;
        position:absolute;
    }
    #err{
        color:#DB0000;
        padding-top:3px;
        font-size:13px;
        line-height:1.5;
    }       
}
#preview{
    background-color: #d9e5ec;
    height:300px;
    .display(flex);
    .justify-content(center);
    .align-items(center);
}
/* #preview style */

.message{
	margin-bottom:35px;
	margin-top:30px;
	text-align:center;
	color:#777;
}
.imageholder{
	display:inline-block;
    width: 100%;
    padding: 10px;
	text-align:center;
	position:relative;
	
    .transition(all 0.3s ease-in-out);
    figcaption{
        display: none;
        /*
        font-style:italic;
        width:100%;
        word-wrap:break-word;
        font-weight:bold;
        span{
            font-size:11px;
            color:#777;
        }
        */
    }
    figure{
        width: 100%;
        height: 100%;
    }
    img{
        max-height: 280px;
        max-width: 100%;
    }
}

body{
  color: @site_font_color;
}
.fa-angle-right:before {
    font-weight: bold;
}
.link {
	text-align: right;
	margin-top: 40px;
	margin-bottom: 20px;
	a{
        margin: 0 auto;
        display: block;
		background-color: @site_font_color;
		text-decoration: none;
		padding: 8px 30px 8px 35px;
		.border-radius(25);
		font-size: 1.571em;
		color: #ffffff;
		font-weight: bold;
		width: 180px;
		text-align: center;
	}
}
.form-step{
    text-align: center;
    .step{
        >div{
            margin: 0 auto;
            border-radius: 50%;
            font-weight: 300;
            font-size: 2.143em;
            border: 1px solid;
            width: 40px;
            height: 40px;
            .display(flex);
            .justify-content(center);
            .align-items(center);
        }
        &:after{
            content: "|";
            display: block;
            position: relative;
            margin: 5px 0;
            font-size: 1.5em;
            font-weight: 300;
        }
    }
    .form-desc{
        margin-top: 40px;
        .head{
            font-weight: bold;
            font-size: 1.643em;
            margin-bottom: 5px;
        }
        p{
            color: #808080;
            font-size: 1.339em;
            font-weight: 300;
        }
    }
    .seperate{
        position: relative;
        font-weight: bold;
        font-size: 1.643em;
        margin: 20px 0 10px 0;   
        span{
            &:before,&:after{
                content: "";
                width: 41%;
                height: 1px;
                display: inline-block;
                position: absolute;
                background-color: #073d7d;
                top: 50%;
                .translateY(-50%)
            }
            &:before{
                left: 0;    
            }
            &:after{
                right: 0;
            }
        }
    }
    .remarks{
        font-size: 1.071em;
        color: #808080;
    }
    .form {
         font-size: 1.339em;
         text-align: left;
         max-width: 700px;
         display: block;
         margin: 0 auto;
        .row{
            margin: 0;
        }
        label{
            font-weight: inherit;
        }
        .c-select {
            display: inline-block;
            max-width: 100%;
            padding: 0.375rem 1.75rem 0.375rem 0.75rem;
            padding-right: 0.75rem\9;
            color: #808080;
            vertical-align: middle;
            -webkit-background-size: 8px 10px;
            border-radius: 0;
            border: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background: url(../images/form/dk_select.jpg) right 0.75rem center no-repeat #fff;
        }
        .form-control{
            border: none;
            border-radius: 0;
        }
        .col{
            margin-top: 20px;
        }
    }
}
.submit-button{
    .btn {
        background-color: @site_font_color;
        text-decoration: none;
        padding: 13px 47px;
        -webkit-border-radius: 30px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 30px;
        -moz-background-clip: padding;
        border-radius: 30px;
        background-clip: padding-box;
        font-size: 1.286em;
        font-weight: 700;
        color: #fff!important;
        outline: 0!important;
        border: 0!important;
        margin: 60px auto 20px auto;
        display: block;
    }
}
section#step1{
    .form-desc{
        p{
            margin-bottom: 60px;
        }
    }
    .box{
        background-color: #fff;
        color: #c0c0c0;
        box-sizing: border-box;
        border: 8px solid #fff;
        position: relative;
        cursor: pointer;
        .transition(all .2s ease-in-out);
        .title{
            font-size: 1.411em;
            margin: 5px 0;
            font-weight: bold;
        }
        .desc{
            font-size: 1.042em;
        }
        .top{
            img.sty1{
                max-width: 90px;
                margin-top: -25px;
            }
            img.sty2{
                max-width: 220px;
                margin-top: -52px;
            }
        }
        .tick{
            opacity: 0;
            width: 50px;
            height: 50px;
            border-top-left-radius: 40px;
            position: absolute;
            right: 0;
            bottom: 0;
            .display(flex);
            .justify-content(center);
            .align-items(center);
            img{
                width: 20px;
                height: auto;
            }
        }
        &.active{
            .tick{
                opacity: 1;
            }
        }
    }
    .col:nth-of-type(1){
        .box:hover, .box.active{
            border-color: #ff6a00;
            color: #ff6a00;
        }
        .tick{
            background-color: #ff6a00;
        }
    } 
    .col:nth-of-type(2){
        .box:hover, .box.active{
            border-color: #00aae7;
            color: #00aae7;
        }
        .tick{
            background-color: #00aae7;
        }
    }
    .col:nth-of-type(3){
        .box:hover, .box.active{
            border-color: #14b332;
            color: #14b332;
        }
        .tick{
            background-color: #14b332;
        }
    }
}
section#step2{
    .form-desc{
        p{
            margin-bottom: 20px;
        }
    }
    .IE input[type="file"] {
        display: none !important;
    }
    .file-upload{
        .display(flex);
        .align-items(center);
        .justify-content(center);
        label{
            margin-right: 10px;
        }
    }
}
section#step3{
    .form-desc{
        p{
            margin-bottom: 0;
        }
    }
}
section#step4{
    .form-group.row{
        margin-top: 20px;
    }
    label[for="promotion"]{
        color: #808080;
        font-size: 0.8em;
        span{
            color: @site_font_color;
            a{
                display: inline-block;
                color: @site_font_color;
                &:after{
                    content: "";
                    height: 1px;
                    width: 100%;
                    position: relative;
                    bottom: 0px;
                    display: block;
                    background-color: @site_font_color;
                }
                &:hover{
                    text-decoration: none;
                }
            }        
        }
    }
    .box{
        margin-top: 10px;
        background-color: #fff;
        color: #c0c0c0;
        box-sizing: border-box;
        border: 8px solid #fff;
        position: relative;
        padding: 20px;
        cursor: pointer;
        .transition(all .2s ease-in-out);
        .title{
            font-size: 1.411em;
            font-weight: bold;
        }
        .tick{
            opacity: 0;
            width: 35px;
            height: 35px;
            border-top-left-radius: 35px;
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: @site_font_color;
            .display(flex);
            .justify-content(flex-end);
            .align-items(flex-end);
            img{
                width: 20px;
                height: auto;
            }
        }
        &.active{
            color: @site_font_color;
            border-color: @site_font_color;
            .tick{
                opacity: 1;
            }
        }
    }
    a.tnc{
        display: inline-block;
        color: @site_font_color;
        &:after{
            content: "";
            height: 1px;
            width: 100%;
            position: relative;
            bottom: -2px;
            display: block;
            background-color: @site_font_color;
        }
        &:hover{
            text-decoration: none;
        }
    }
    input[type="file"] {
        display: none !important;
    }
    .file-upload{
        .display(flex);
        .align-items(center);
        label{
            margin-right: 10px;
            cursor: pointer;
        }
    }
}
section#questionnaire{
    text-align: center;
    h1{
        font-size:3.714em;
        font-weight: bold;
        margin: 50px 0 20px 0;
    }
    hr{
        display: block;
        margin: 20px auto;
        border-style: inset;
        border-width: 1px;
        border-color: @site_font_color;
    }
    p{
        font-size:1.786em;
        font-weight: bold;
    }
    img{
        display: block;
        margin: -40px auto -60px auto;
        max-width: 500px;
        width: 100%;
    }
    .col-sm-12{
    	margin: 10px 0px;	
    }
    .css-label{
    	margin-left: 20px;	
    }
    .email{
        font-size: 1.214em;
    }
    .link a{
        padding: 20px 35px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 50px;
        font-weight: bold;
        max-width: 320px;
        width: 100%;
    }
    
}
section#success{
    text-align: center;
    h1{
        font-size:3.714em;
        font-weight: bold;
        margin: 50px 0 20px 0;
    }
    hr{
        display: block;
        margin: 20px auto;
        border-style: inset;
        border-width: 1px;
        border-color: @site_font_color;
    }
    p{
        font-size:1.786em;
        font-weight: bold;
    }
    img{
        display: block;
        margin: -40px auto -60px auto;
        max-width: 500px;
        width: 100%;
    }
    .email{
        font-size: 1.214em;
    }
    .link {
    	text-align: center;	
    }
    .link a{
        padding: 20px 35px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 50px;
        font-weight: bold;
        max-width: 320px;
        width: 100%;
    }
}
//desktop + desktop_wide
@media (min-width: 992px) {
    section#step1{
        .box{
            height: 260px;
            .top{
                height: 60%;
            }
            .bottom{
                height: 40%;
            }
        }
    }
    section#step4{
        label[for="pregnant_mum"],label[for="children_mum"]{
            margin-left: 20px;
        }
    }
    section#questionnaire{
        .link{

        }
    }
    section#success{
        .link{
            &.col:first-of-type a{
                float: right;
            }
            &.col:nth-of-type(2) a{
                float: left;
            }
        }
    }
}
//desktop + desktop_wide

//desktop_wide
@media (min-width: 1366px) {

}
//desktop_wide

//desktop
@media (min-width: 992px) and (max-width: 1365px) {
} 
//desktop


//tablet + mobile
@media (max-width: 991px) {
    label[for="proof"]{
        width: 35px;
        height: 35px;
    }
}
//tablet + mobile
//tablet 
@media (min-width: 768px) and (max-width: 991px) {
    .form-step .seperate span:before, .form-step .seperate span:after{
        width: 37%;
    }
    section#step1{
        .col{
            padding-right: 5px;
            padding-left: 5px;
        }
        .box{
            height: 290px;
            .top{
                height: 50%;
                img.sty2 {
                    max-width: 200px;
                }
            }
            .bottom{
                height: 50%;
            }
        }
    }
    section#step4{
        label[for="pregnant_mum"],label[for="children_mum"]{
            margin-left: 20px;
        }
    }
}
//tablet

//mobile 
@media (max-width: 767px) {
    .form-step .seperate span:before, .form-step .seperate span:after{
        width: 23%;
    }
    .form-step .form .btn{
        width: 100%;
    }
    section#step1{
        .box{
            padding: 0 10px 20px 10px;
            max-width: 300px;
            display: block;
            margin: 0 auto;
            .title{
                margin: 10px 0;
            }
            .top img.sty2 {
                margin-top: -30px;
            }
        }
        .col:not(:first-of-type){
            .box{
                margin-top: 50px;
            }
        }
    }
    section#step2{
        #preview{
            margin-top: 30px;
        }
    }
    section#step4{
        label[for="pregnant_mum"],label[for="children_mum"]{
            margin-top: 5px;
        }
    }
}
//mobile
@media (max-width: 690px){
    input[type="checkbox"].css-checkbox:checked+label.css-label {
        background-image: url(../images/form/m_checked.png);
    }
    label.css-label {
        background-image: url(../images/form/dk_check.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    input[type="checkbox"].css-checkbox+label.css-label {
        padding-left: 40px;
        min-height: 35px;
    }
}
