@import "var.less";
select::-ms-expand {
  display: none !important;
}
.clearfix {
    clear: both;
}
.form-control{
	border: none;
	.border-radius(20px);
	background-color: #f5f5f5;
	.box-shadow(none);
  font-size: 1.286em;
}
.form-group{
	margin-bottom: 25px;
}
input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:29px;
	//height:14px;
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	vertical-align:middle;
	cursor:pointer;
}


input[type=checkbox].css-checkbox:checked + label.css-label {
	background-image:url(../images/form/csschecked.png);
}
label.css-label {
	background-image:url(../images/form/csscheck.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label{
	font-size: 1.286em;
	color: #717171;
  font-weight: normal;
}
.tnc{
  font-size: 14px;
}
input{
	font-size: 1.286em;
	color: #717171;
}
.btn{
	background-color: @site_font_color;
	text-decoration: none;
	padding: 13px 47px;
	.border-radius(30px);
	color: #ffffff;
	font-size: 1.286em;
	font-weight: bold;
	color: #ffffff !important;
	outline: 0 !important;
	border: 0 !important;
}
.error{
	display: none;
	font-size: 0.929em;
	color: #d44950;
	padding-left: 14px;
	position: relative;
	top: 5px
}
.error-checkbox{
	padding-left: 0;
}
.container{
	>.row{
		>.header{
			padding: 0;
			max-width: 910px;
			margin: 0 auto;
			width: 100%;
			float: none;
			>.page-header{
				color: @site_font_color;
				font-weight: bold;
				font-size: 1.857em;
				margin-bottom: 10px;
				>span{
					font-size: 0.577em;
					color: #717171;
				}
			}
		}
		>.content{
			max-width: 910px;
			margin: 0 auto;
			width: 100%;
			float: none;
			background-color: #ffffff;
			padding: 40px 30px 10px 30px;
			border-top: 4px solid #cfe4f7;
			>form{
        >.line{
          padding-top: 35px;
          margin-top: 45px;
          border-top: 1px dashed @site_font_color
        }
				>div{
          .text{
            //padding-left: 30px;
          }
					>div{
						>.c-select{
							display: inline-block;
							max-width: 100%;
							-webkit-appearance: none;
							padding: .375rem 1.75rem .375rem .75rem;
							padding-right: .75rem\9;
							color: #55595c;
							vertical-align: middle;
							background-image: none\9;
							-webkit-background-size: 8px 10px;
							background-size: 8px 10px;
							border: 1px solid #ccc;
							-moz-appearance: none;
  							border: none;
  							-moz-appearance: none;
  							-webkit-appearance: none;
  							appearance: none;
  							background: #f5f5f5 url(../images/form/dk_select.jpg) no-repeat right .75rem center;
						}
						#message{
							.border-radius(5px);
							resize: none;
						}
					}
				}
			}
		}
    .info{
      margin-top: 5%;
      >ul{
        padding: 0;
        >li{
          float: left;
          width: 50%;
          margin-bottom: 25px;
          div{
            display: inline-block;
            vertical-align: middle;
          }
          >.ico{
            width: 50px;
            font-size: 3em;
            text-align: center;
            color: @site_font_color;
            margin-right: 5%;
          }
          >.txt{
            word-wrap: break-word;
            >.label{
              white-space: normal;
              color: #717171;
              font-size: 14px;
              padding: 0;
              word-break: break-all;
              word-wrap: break-word;
            }
            h6,h5{
              a{
                color: #717171;
                font-size: 14px;
                word-break: break-all;
                word-wrap: break-word;
              }
            }
          }
        }
      }
    }
	}
}
@media (max-width: 690px){
  input[type=checkbox].css-checkbox:checked + label.css-label {
  	background-image:url(../images/form/m_checked.jpg);
  }
  label.css-label {
  	background-image:url(../images/form/dk_check.jpg);
  	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  }
  input[type=checkbox].css-checkbox+label.css-label{
    padding-left: 40px;
    min-height: 35px;
  }
  .container{
  	>.row{
  		>.header{
        padding-left: 8%;
        padding-right: 8%;
  			>.page-header{
  			}
  		}
  		>.content{
        padding-left: 8%;
        padding-right: 8%;
  			>form{
          >.line{

          }
  				>div{
            .text{
              padding-left: 40px;
            }
            .submit-button{
              text-align: center;
            }
  					>div{

  					}
  				}
  			}
  		}
  	}
  }
}

@media (max-width: 568px){
  .container{
  	>.row{
      .info{
        >ul{
          padding: 0;
          >li{
            float: left;
            width: 100%;
            margin-bottom: 25px;
            div{
              display: inline-block;
              vertical-align: middle;
            }
            >.ico{
              font-size: 3em;
              text-align: center;
              color: @site_font_color;
            }
            >.txt{
              >.label{
                color: #717171;
                font-size: 14px;
                padding: 0;
                word-break: break-all;
              }
              h6,h5{
                a{
                  color: #717171;
                  font-size: 14px;
                  word-break: break-all;
                }
              }
            }
          }
        }
      }
  	}
  }
}
