/* Less CSS Document */
/* Will be auto compiled to CSS file on save */
.IE label[for="upload"],
label[for="proof"] {
  background-image: url(../images/form/addbtn.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 45px;
  height: 45px;
  background-size: contain;
  margin-top: 5px;
  vertical-align: middle;
}
input[type="checkbox"].css-checkbox:checked + label.css-label {
  background-image: url(../images/form/csschecked.png);
}
input[type="checkbox"].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
input[type="checkbox"].css-checkbox + label.css-label {
  padding-left: 29px;
  display: inline-block;
  line-height: 140%;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer;
}
label.css-label {
  background-image: url(../images/form/csscheck.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#dragdrop-wrapper {
  width: 100%;
  height: 300px;
}
#dragdrop-wrapper #dragdrop {
  width: 100%;
  max-width: 100px;
  height: auto;
}
#dragdrop-wrapper #droparea {
  padding: 30px 30px 10px 30px;
  height: 300px;
  background-color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#dragdrop-wrapper #droparea .dropfiletext {
  font-size: 1.339em;
  font-weight: bold;
  margin-top: 30px;
}
#dragdrop-wrapper #droparea .uploadbtn {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}
#dragdrop-wrapper #upload {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
#dragdrop-wrapper #err {
  color: #DB0000;
  padding-top: 3px;
  font-size: 13px;
  line-height: 1.5;
}
#preview {
  background-color: #d9e5ec;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* #preview style */
.message {
  margin-bottom: 35px;
  margin-top: 30px;
  text-align: center;
  color: #777;
}
.imageholder {
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.imageholder figcaption {
  display: none;
  /*
        font-style:italic;
        width:100%;
        word-wrap:break-word;
        font-weight:bold;
        span{
            font-size:11px;
            color:#777;
        }
        */
}
.imageholder figure {
  width: 100%;
  height: 100%;
}
.imageholder img {
  max-height: 280px;
  max-width: 100%;
}
body {
  color: #073d7d;
}
.fa-angle-right:before {
  font-weight: bold;
}
.link {
  text-align: right;
  margin-top: 40px;
  margin-bottom: 20px;
}
.link a {
  margin: 0 auto;
  display: block;
  background-color: #073d7d;
  text-decoration: none;
  padding: 8px 30px 8px 35px;
  -webkit-border-radius: 25px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 25px;
  -moz-background-clip: padding;
  border-radius: 25px;
  background-clip: padding-box;
  font-size: 1.571em;
  color: #ffffff;
  font-weight: bold;
  width: 180px;
  text-align: center;
}
.form-step {
  text-align: center;
}
.form-step .step > div {
  margin: 0 auto;
  border-radius: 50%;
  font-weight: 300;
  font-size: 2.143em;
  border: 1px solid;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.form-step .step:after {
  content: "|";
  display: block;
  position: relative;
  margin: 5px 0;
  font-size: 1.5em;
  font-weight: 300;
}
.form-step .form-desc {
  margin-top: 40px;
}
.form-step .form-desc .head {
  font-weight: bold;
  font-size: 1.643em;
  margin-bottom: 5px;
}
.form-step .form-desc p {
  color: #808080;
  font-size: 1.339em;
  font-weight: 300;
}
.form-step .seperate {
  position: relative;
  font-weight: bold;
  font-size: 1.643em;
  margin: 20px 0 10px 0;
}
.form-step .seperate span:before,
.form-step .seperate span:after {
  content: "";
  width: 41%;
  height: 1px;
  display: inline-block;
  position: absolute;
  background-color: #073d7d;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form-step .seperate span:before {
  left: 0;
}
.form-step .seperate span:after {
  right: 0;
}
.form-step .remarks {
  font-size: 1.071em;
  color: #808080;
}
.form-step .form {
  font-size: 1.339em;
  text-align: left;
  max-width: 700px;
  display: block;
  margin: 0 auto;
}
.form-step .form .row {
  margin: 0;
}
.form-step .form label {
  font-weight: inherit;
}
.form-step .form .c-select {
  display: inline-block;
  max-width: 100%;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  padding-right: 0.75rem\9;
  color: #808080;
  vertical-align: middle;
  -webkit-background-size: 8px 10px;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(../images/form/dk_select.jpg) right 0.75rem center no-repeat #fff;
}
.form-step .form .form-control {
  border: none;
  border-radius: 0;
}
.form-step .form .col {
  margin-top: 20px;
}
.submit-button .btn {
  background-color: #073d7d;
  text-decoration: none;
  padding: 13px 47px;
  -webkit-border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 30px;
  -moz-background-clip: padding;
  border-radius: 30px;
  background-clip: padding-box;
  font-size: 1.286em;
  font-weight: 700;
  color: #fff!important;
  outline: 0!important;
  border: 0!important;
  margin: 60px auto 20px auto;
  display: block;
}
section#step1 .form-desc p {
  margin-bottom: 60px;
}
section#step1 .box {
  background-color: #fff;
  color: #c0c0c0;
  box-sizing: border-box;
  border: 8px solid #fff;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
section#step1 .box .title {
  font-size: 1.411em;
  margin: 5px 0;
  font-weight: bold;
}
section#step1 .box .desc {
  font-size: 1.042em;
}
section#step1 .box .top img.sty1 {
  max-width: 90px;
  margin-top: -25px;
}
section#step1 .box .top img.sty2 {
  max-width: 220px;
  margin-top: -52px;
}
section#step1 .box .tick {
  opacity: 0;
  width: 50px;
  height: 50px;
  border-top-left-radius: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
section#step1 .box .tick img {
  width: 20px;
  height: auto;
}
section#step1 .box.active .tick {
  opacity: 1;
}
section#step1 .col:nth-of-type(1) .box:hover,
section#step1 .col:nth-of-type(1) .box.active {
  border-color: #ff6a00;
  color: #ff6a00;
}
section#step1 .col:nth-of-type(1) .tick {
  background-color: #ff6a00;
}
section#step1 .col:nth-of-type(2) .box:hover,
section#step1 .col:nth-of-type(2) .box.active {
  border-color: #00aae7;
  color: #00aae7;
}
section#step1 .col:nth-of-type(2) .tick {
  background-color: #00aae7;
}
section#step1 .col:nth-of-type(3) .box:hover,
section#step1 .col:nth-of-type(3) .box.active {
  border-color: #14b332;
  color: #14b332;
}
section#step1 .col:nth-of-type(3) .tick {
  background-color: #14b332;
}
section#step2 .form-desc p {
  margin-bottom: 20px;
}
section#step2 .IE input[type="file"] {
  display: none !important;
}
section#step2 .file-upload {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
section#step2 .file-upload label {
  margin-right: 10px;
}
section#step3 .form-desc p {
  margin-bottom: 0;
}
section#step4 .form-group.row {
  margin-top: 20px;
}
section#step4 label[for="promotion"] {
  color: #808080;
  font-size: 0.8em;
}
section#step4 label[for="promotion"] span {
  color: #073d7d;
}
section#step4 label[for="promotion"] span a {
  display: inline-block;
  color: #073d7d;
}
section#step4 label[for="promotion"] span a:after {
  content: "";
  height: 1px;
  width: 100%;
  position: relative;
  bottom: 0px;
  display: block;
  background-color: #073d7d;
}
section#step4 label[for="promotion"] span a:hover {
  text-decoration: none;
}
section#step4 .box {
  margin-top: 10px;
  background-color: #fff;
  color: #c0c0c0;
  box-sizing: border-box;
  border: 8px solid #fff;
  position: relative;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
section#step4 .box .title {
  font-size: 1.411em;
  font-weight: bold;
}
section#step4 .box .tick {
  opacity: 0;
  width: 35px;
  height: 35px;
  border-top-left-radius: 35px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #073d7d;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -moz-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
section#step4 .box .tick img {
  width: 20px;
  height: auto;
}
section#step4 .box.active {
  color: #073d7d;
  border-color: #073d7d;
}
section#step4 .box.active .tick {
  opacity: 1;
}
section#step4 a.tnc {
  display: inline-block;
  color: #073d7d;
}
section#step4 a.tnc:after {
  content: "";
  height: 1px;
  width: 100%;
  position: relative;
  bottom: -2px;
  display: block;
  background-color: #073d7d;
}
section#step4 a.tnc:hover {
  text-decoration: none;
}
section#step4 input[type="file"] {
  display: none !important;
}
section#step4 .file-upload {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
section#step4 .file-upload label {
  margin-right: 10px;
  cursor: pointer;
}
section#questionnaire {
  text-align: center;
}
section#questionnaire h1 {
  font-size: 3.714em;
  font-weight: bold;
  margin: 50px 0 20px 0;
}
section#questionnaire hr {
  display: block;
  margin: 20px auto;
  border-style: inset;
  border-width: 1px;
  border-color: #073d7d;
}
section#questionnaire p {
  font-size: 1.786em;
  font-weight: bold;
}
section#questionnaire img {
  display: block;
  margin: -40px auto -60px auto;
  max-width: 500px;
  width: 100%;
}
section#questionnaire .col-sm-12 {
  margin: 10px 0px;
}
section#questionnaire .css-label {
  margin-left: 20px;
}
section#questionnaire .email {
  font-size: 1.214em;
}
section#questionnaire .link a {
  padding: 20px 35px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 50px;
  font-weight: bold;
  max-width: 320px;
  width: 100%;
}
section#success {
  text-align: center;
}
section#success h1 {
  font-size: 3.714em;
  font-weight: bold;
  margin: 50px 0 20px 0;
}
section#success hr {
  display: block;
  margin: 20px auto;
  border-style: inset;
  border-width: 1px;
  border-color: #073d7d;
}
section#success p {
  font-size: 1.786em;
  font-weight: bold;
}
section#success img {
  display: block;
  margin: -40px auto -60px auto;
  max-width: 500px;
  width: 100%;
}
section#success .email {
  font-size: 1.214em;
}
section#success .link {
  text-align: center;
}
section#success .link a {
  padding: 20px 35px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 50px;
  font-weight: bold;
  max-width: 320px;
  width: 100%;
}
@media (min-width: 992px) {
  section#step1 .box {
    height: 260px;
  }
  section#step1 .box .top {
    height: 60%;
  }
  section#step1 .box .bottom {
    height: 40%;
  }
  section#step4 label[for="pregnant_mum"],
  section#step4 label[for="children_mum"] {
    margin-left: 20px;
  }
  section#success .link.col:first-of-type a {
    float: right;
  }
  section#success .link.col:nth-of-type(2) a {
    float: left;
  }
}
@media (max-width: 991px) {
  label[for="proof"] {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form-step .seperate span:before,
  .form-step .seperate span:after {
    width: 37%;
  }
  section#step1 .col {
    padding-right: 5px;
    padding-left: 5px;
  }
  section#step1 .box {
    height: 290px;
  }
  section#step1 .box .top {
    height: 50%;
  }
  section#step1 .box .top img.sty2 {
    max-width: 200px;
  }
  section#step1 .box .bottom {
    height: 50%;
  }
  section#step4 label[for="pregnant_mum"],
  section#step4 label[for="children_mum"] {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .form-step .seperate span:before,
  .form-step .seperate span:after {
    width: 23%;
  }
  .form-step .form .btn {
    width: 100%;
  }
  section#step1 .box {
    padding: 0 10px 20px 10px;
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }
  section#step1 .box .title {
    margin: 10px 0;
  }
  section#step1 .box .top img.sty2 {
    margin-top: -30px;
  }
  section#step1 .col:not(:first-of-type) .box {
    margin-top: 50px;
  }
  section#step2 #preview {
    margin-top: 30px;
  }
  section#step4 label[for="pregnant_mum"],
  section#step4 label[for="children_mum"] {
    margin-top: 5px;
  }
}
@media (max-width: 690px) {
  input[type="checkbox"].css-checkbox:checked + label.css-label {
    background-image: url(../images/form/m_checked.png);
  }
  label.css-label {
    background-image: url(../images/form/dk_check.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  input[type="checkbox"].css-checkbox + label.css-label {
    padding-left: 40px;
    min-height: 35px;
  }
}

/*# sourceMappingURL=contest_form.css.map */