/* Less CSS Document */
/* Will be auto compiled to CSS file on save */
a:hover {
  text-decoration: none;
}
body {
  color: #073d7d;
}
.container {
  position: relative;
}
.line {
  width: 100%;
  margin: 20px 0;
}
.swiper-slide {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#kv .swiper-container {
  overflow-y: visible;
}
.link {
  text-align: right;
  margin-top: 30px;
  margin-bottom: 10px;
}
.link a {
  background-color: #073d7d;
  text-decoration: none;
  padding: 8px 30px 8px 35px;
  -webkit-border-radius: 25px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 25px;
  -moz-background-clip: padding;
  border-radius: 25px;
  background-clip: padding-box;
  font-size: 1.571em;
  color: #ffffff;
  font-weight: bold;
  width: 180px;
  text-align: center;
}
.album-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.thumb {
  width: 180px;
  background-color: #fff;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.thumb .candidate {
  position: relative;
}
.thumb .candidate .photo {
  position: relative;
  height: auto;
  width: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.thumb .candidate .photo:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.thumb .candidate:after {
  content: "";
  width: 100%;
  position: absolute;
  display: inline-block;
  height: 4px;
}
.thumb .candidate.first:after {
  background-color: #ff6a00;
}
.thumb .candidate.new:after {
  background-color: #00aae7;
}
.thumb .candidate.organic:after {
  background-color: #14b332;
}
.thumb .desc {
  width: 100%;
}
.thumb .name {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.thumb .icon-wrap {
  margin: 20px 0 10px 0;
  padding: 0 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.thumb .icon-wrap .like,
.thumb .icon-wrap .share {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.thumb .icon-wrap a {
  text-decoration: none;
  cursor: pointer;
}
.thumb .icon-wrap .like span {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 3px;
}
.thumb .icon-wrap .fa {
  color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  cursor: pointer;
}
.thumb .icon-wrap .fa-thumbs-up {
  background-color: #31599c;
}
.thumb .icon-wrap .fa-share-alt {
  background-color: #dedede;
}
#pop-tnc .wrap {
  background-color: #fff;
  max-width: 800px;
  width: 95%;
  display: block;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}
#pop-tnc .wrap .pop-close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 2em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#pop-tnc .wrap .pop-close:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}
#pop-tnc .wrap h1 {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 20px;
}
#pop-tnc .wrap h1:after {
  content: "";
  background-color: rgba(94, 155, 210, 0.3);
  width: 100%;
  height: 3px;
  display: block;
  position: relative;
  margin-top: 10px;
}
#pop-tnc .wrap ol {
  list-style-type: decimal;
  margin-top: 10px;
  height: 500px;
  overflow-y: auto;
  width: 100%;
}
#pop-tnc .wrap ol::-webkit-scrollbar {
  width: 5px;
}
#pop-tnc .wrap ol::-webkit-scrollbar-thumb {
  background-color: #e2eefa;
  border-radius: 5px;
}
#pop-tnc .wrap ol li {
  margin-top: 10px;
  line-height: 120%;
  color: #808080;
}
#pop-tnc button.mfp-close {
  display: none !important;
}
section#kv .vdo-wrap {
  width: 100%;
  max-width: 600px;
}
section#kv .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
section#kv .embed-container iframe,
section#kv .embed-container object,
section#kv .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section#kv .bg-wrap {
  position: relative;
  margin-bottom: 30px;
}
section#kv .bg-wrap .bg {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
section#kv .word-wrap {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
section#kv .tnc {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
section#kv .tnc a {
  color: #073d7d;
}
section#upload .head {
  font-weight: bold;
  font-size: 1.339em;
}
section#prize .box {
  background-color: #fff;
  border: 10px solid #5e9bd2;
  color: #0c407a;
  padding: 20px 10px;
  text-align: center;
  position: relative;
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
section#prize .box img {
  display: block;
  margin: 0 auto 0 auto;
  width: 100%;
}
section#prize .box img#trophy {
  width: 300px;
  margin-top: -55px;
}
section#prize .box img#yogurt {
  max-width: 126px;
  width: 126px;
  margin-top: -55px;
}
section#prize .box img#coupon {
  width: 263px;
}
section#prize .box .title {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.643em;
}
section#prize .box .desc {
  margin: 10px 0;
  font-size: 1.143em;
  font-weight: 300;
}
section#album {
  margin-top: 30px;
}
section#album #headline {
  width: 100%;
  max-width: 438px;
}
section#album input[name="bb_name"] {
  border-radius: 25px;
  border: none;
  padding: 10px 32px 10px 20px;
  width: 100%;
  background: url(../images/contest/magnifier.png) right 10px center no-repeat #fff;
}
section#album input[name="bb_name"]::-webkit-input-placeholder {
  color: #d4dee6;
}
section#album input[name="bb_name"]::-moz-placeholder {
  color: #d4dee6;
}
section#album input[name="bb_name"]:-ms-input-placeholder {
  color: #d4dee6;
}
section#album input[name="bb_name"]:-moz-placeholder {
  color: #d4dee6;
}
section#album .category {
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
section#album .category.sty1 {
  background-color: #ff6a00;
}
section#album .category.sty1 img {
  max-width: 50px;
  width: 100%;
}
section#album .category.sty1 .cat-wrap .right {
  padding-left: 10px;
}
section#album .category.sty2 {
  background-color: #00aae7;
}
section#album .category.sty2 img {
  max-width: 50px;
  width: 100%;
}
section#album .category.sty2 .cat-wrap .right {
  padding: 0 10px;
}
section#album .category.sty3 {
  background-color: #14b332;
}
section#album .category.sty3 img {
  width: 80px;
  position: absolute;
  top: -5px;
  left: -5px;
}
section#album .category.sty3 .cat-wrap .right {
  padding: 0 10px 0px 23px;
}
section#album .category .cat-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  color: #fff;
  border: 1px solid #fff;
  padding: 20px 10px;
  height: 123px;
}
section#album .category .cat-wrap .left {
  width: 20%;
}
section#album .category .cat-wrap .right {
  width: 80%;
}
section#album .category .cat-wrap .head {
  font-weight: bold;
  font-size: 1.414em;
  margin-bottom: 10px;
}
section#album .category .cat-wrap .desc {
  font-size: 1em;
}
@media (min-width: 992px) {
  section#kv .bg-wrap {
    margin: 25px 0 20px 0;
  }
  section#kv .swiper-pagination-bullets {
    bottom: 20px;
  }
  section#kv .swiper-pagination-bullet {
    background: #155995;
    opacity: 0.3;
  }
  section#kv .swiper-pagination-bullet-active {
    background: #489ed8;
    opacity: 1;
  }
  section#kv .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
  }
  section#prize .box {
    height: 355px;
  }
  section#prize .box .top {
    height: 40%;
  }
  section#prize .box .bottom {
    height: 60%;
    padding-top: 40px;
    width: 100%;
  }
  section#album .row.cat {
    margin-top: 20px;
  }
  section#album .row.cat .col.active:after {
    content: "";
    left: 50%;
    top: -3px;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display: inline-block;
    position: relative;
    border-style: solid;
    border-width: 12px 10px 0 10px;
  }
  section#album .row.cat .col:nth-of-type(1).active:after {
    border-color: #ff6a00 transparent transparent transparent;
  }
  section#album .row.cat .col:nth-of-type(2).active:after {
    border-color: #00aae7 transparent transparent transparent;
  }
  section#album .row.cat .col:nth-of-type(3).active:after {
    border-color: #14b332 transparent transparent transparent;
  }
  section#album .row.cat .col:nth-of-type(1):not(.active) .category.sty1:hover {
    background-color: #e05d00;
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  section#album .row.cat .col:nth-of-type(2):not(.active) .category.sty2:hover {
    background-color: #0093c8;
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  section#album .row.cat .col:nth-of-type(3):not(.active) .category.sty3:hover {
    background-color: #11972a;
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  section#album .promotion {
    width: 385px;
    margin-top: 18px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  section#album .promotion img {
    width: 100%;
    height: auto;
    max-width: 385px;
  }
  section#album .pagination {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
  }
  section#album .pagination a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    color: #bfd2e2;
    font-size: 1.2em;
  }
  section#album .pagination a.active {
    color: #073d7d;
    font-weight: bold;
  }
  section#album .pagination a:hover {
    color: #073d7d;
  }
  section#album .pagination .prev {
    height: 1em;
    position: relative;
    top: -2px;
  }
  section#album .pagination .next {
    height: 1em;
    position: relative;
    top: -2px;
  }
  section#album .pagination .detail {
    position: absolute;
    right: 30px;
    font-size: 1.2em;
  }
  section#album .pagination .detail span {
    font-weight: bold;
  }
}
@media (max-width: 991px) {
  section#kv .container {
    padding-left: 0;
    padding-right: 0;
  }
  section#kv .swiper-pagination-bullets {
    bottom: -30px;
  }
  section#kv .swiper-pagination-bullet {
    background: #c5c3c4;
    opacity: 1;
  }
  section#kv .swiper-pagination-bullet-active {
    background: #003c82;
    opacity: 1;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
  section#kv .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
  section#upload .head {
    font-size: 1.643em;
    text-align: center;
    margin-top: 30px;
  }
  section#upload .link a {
    border-radius: 50px;
    border: none;
    padding: 20px 35px;
    max-width: 320px;
    width: 100%;
  }
  section#album {
    padding-bottom: 20px;
  }
  section#album .category {
    max-width: 304px;
  }
  section#album .cat.swiper-container {
    width: 100%;
    max-height: 260px;
    margin: 0 auto 20px auto;
  }
  section#album .cat .swiper-slide {
    width: 150px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  section#album .cat .swiper-slide.promo {
    width: 325px !important;
    margin-top: 20px;
  }
  section#album .cat .promotion img {
    height: 220px;
    width: auto;
  }
}
@media (min-width: 568px) and (max-width: 991px) {
  section#upload .link {
    text-align: center;
  }
  section#prize .box {
    height: 355px;
  }
  section#album .category {
    margin-top: 20px;
    margin-left: 15px;
  }
}
@media (max-width: 567px) {
  .thumb {
    width: 150px;
  }
  .thumb .candidate .photo {
    width: 150px;
  }
  section#prize {
    margin-bottom: 70px;
  }
  section#prize .box img#trophy {
    width: 100%;
    left: 0;
  }
  section#album input[name="bb_name"] {
    margin-top: 10px;
  }
  section#album .category {
    margin: 20px auto 0 auto;
  }
  #pop-tnc .wrap h1 {
    font-size: 1em;
  }
}

/*# sourceMappingURL=contest.css.map */