/* Less CSS Document */
/* Will be auto compiled to CSS file on save */
.carousel-control {
  opacity: 1;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.carousel-control .fa-angle-left {
  position: absolute;
  left: 0%;
  padding: 10px 20px;
  top: 45%;
  font-weight: bold;
  color: #073d7d;
  background-color: #ffffff;
  -webkit-border-radius: 0 20px 20px 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 20px 20px 0;
  -moz-background-clip: padding;
  border-radius: 0 20px 20px 0;
  background-clip: padding-box;
  zoom: 1;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
.carousel-control .fa-angle-right {
  zoom: 1;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  position: absolute;
  right: 0%;
  padding: 10px 20px;
  top: 45%;
  font-weight: bold;
  color: #073d7d;
  background-color: #ffffff;
  -webkit-border-radius: 20px 0px 0px 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px 0px 0px 20px;
  -moz-background-clip: padding;
  border-radius: 20px 0px 0px 20px;
  background-clip: padding-box;
}
.carousel-indicators li {
  background-color: #c5c3c3;
  border: 0;
}
.carousel-indicators .active {
  background-color: #073d7d;
}
.bg-mobile {
  display: none;
}
.s1 {
  padding-bottom: 35px;
}
.s1 > .container > .row div {
  width: 100%;
  display: block;
  float: left;
}
.s1 > .container > .row div h3 {
  color: #073d7d;
  font-weight: bold;
  text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: 0;
  float: left;
  display: inline-block;
}
.s1 > .container > .row div ul {
  float: right;
  display: inline-block;
  list-style: none;
}
.s1 > .container > .row div ul li {
  display: inline-block;
}
.s1 > .container > .row div ul li a {
  display: block;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #dadada;
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
  margin-right: 15px;
  color: #ffffff;
  text-decoration: none;
}
.s1 > .container > .row div ul li a.tw.hvr-fade:hover,
.s1 > .container > .row div ul li a.tw .hvr-fade:focus,
.s1 > .container > .row div ul li a.tw .hvr-fade:active {
  background-color: #1da1f2 !important;
}
.s1 > .container > .row div ul li a.gplus {
  padding: 10px 9px;
}
.s1 > .container > .row div ul li a.gplus.hvr-fade:hover,
.s1 > .container > .row div ul li a.gplus .hvr-fade:focus,
.s1 > .container > .row div ul li a.gplus .hvr-fade:active {
  background-color: #d73d32 !important;
}
.s1 > .container > .row div ul li a.fb {
  padding: 10px 14px;
}
.s1 > .container > .row div ul li a.fb.hvr-fade:hover,
.s1 > .container > .row div ul li a.fb .hvr-fade:focus,
.s1 > .container > .row div ul li a.fb .hvr-fade:active {
  background-color: #3b5998 !important;
}
.s1 > .container > .row div ul li a.link.hvr-fade:hover,
.s1 > .container > .row div ul li a.link .hvr-fade:focus,
.s1 > .container > .row div ul li a.link .hvr-fade:active {
  background-color: #4FA2E7 !important;
}
.s1 > .container > .row div ul li:last-child a {
  margin-right: 0;
}
.s1 > .container > .row p {
  color: #6cb1ea;
  font-weight: bold;
  text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
  font-size: 1.286em;
  margin-bottom: 0;
}
.s2 {
  padding-top: 0;
  padding-bottom: 0;
}
.s2 > .container > .row {
  margin: 0 -8px;
}
.s2 > .container > .row > .item {
  position: relative;
  display: none;
  padding: 0 8px;
}
.s2 > .container > .row > .item > a > .title {
  position: absolute;
  top: 7%;
  left: 14%;
  font-size: 2em;
  font-weight: bold;
}
.s2 > .container > .row > .item > a > .title.color1 {
  color: #eebf3f;
}
.s2 > .container > .row > .item > a > .title.color2 {
  color: #00b4e5;
}
.s2 > .container > .row > .item > a > .title.color3 {
  color: #fb8933;
}
.s2 > .container > .row > .item > a > .title.color4 {
  color: #5dbb5d;
}
.s2 > .container > .row > .item > a > .short-desc {
  position: absolute;
  color: #95969a;
  top: 18%;
  left: 14%;
  font-weight: bold;
  font-size: 1.429em;
}
.s2 > .container > .row > .item > a > .border-theme-color {
  background-image: url(../);
}
.s3 {
  padding: 0;
}
.s3 > .container > .row {
  overflow: hidden;
}
.s3 > .container > .row img {
  margin: 0;
}
.s3 > .container > .row .learn-more {
  border: 5px solid #073d7d;
}
.s3 > .container > .row .info .desc {
  position: absolute;
  top: 13%;
  left: 10%;
  right: 5%;
  text-decoration: none;
}
.s3 > .container > .row .info .desc > h4 {
  font-weight: bold;
  color: #073d7d;
  font-size: 2em;
  line-height: 32px;
}
.s3 > .container > .row .info .go-link {
  position: absolute;
  bottom: 7%;
  right: 7%;
}
.s3 > .container > .row .info .go-link > button {
  background-color: #073d7d;
  border: 0;
  -webkit-appearance: none;
  outline: 0;
  color: #ffffff;
  padding: 10px 25px;
  font-size: 1.286em;
  font-weight: 600;
  -webkit-border-radius: 25px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 25px;
  -moz-background-clip: padding;
  border-radius: 25px;
  background-clip: padding-box;
}
.s3 > .container > .row .panel {
  height: 300px !important;
  margin: 0;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border: 0;
}
.carousel {
  height: auto;
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
#disclaimer {
  background-size: 100% 100%;
  background-color: #FFFFFF;
  background-image: url(../images/declaimer_bg_m.jpg);
  font-size: 1.1em;
  width: 340px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-left: 20px;
  padding-right: 135px;
}
#closeDisclaimer {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #9a60a5;
  border-radius: 18px;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  min-width: 94px;
}
@media (max-width: 767px) {
  .bg-mobile {
    display: block;
  }
  .bg-desktop {
    display: none;
  }
  .carousel-control.right {
    display: none;
  }
  .carousel-control.left {
    display: none;
  }
  #disclaimer {
    width: 308px;
  }
  .s2 > .container > .row > .item {
    position: relative;
  }
  .s2 > .container > .row > .item > a > .title {
    font-size: 1.714em;
  }
  .s3 {
    padding: 0;
  }
  .s3 > .container > .row .mb-learn-more {
    display: block;
    font-size: 1.714em;
    color: #ffffff;
    background-color: #073d7d;
    text-decoration: none;
    padding: 10px 20px;
    -webkit-border-radius: 30px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 30px;
    -moz-background-clip: padding;
    border-radius: 30px;
    background-clip: padding-box;
    font-weight: bold;
    text-align: center;
  }
}
