@import "var.less";

.carousel-control{
	opacity: 1;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active{
	-webkit-transform: scale(1.02);
    transform: scale(1.02);
}
.carousel-control .fa-angle-left{
	position: absolute;
	left: 0%;
	padding: 10px 20px;
	top: 45%;
	font-weight: bold;
	color: @site_font_color;
	background-color: #ffffff;
	.border-radius(0 20px 20px 0);
	.opacity(0.7);
}
.carousel-control .fa-angle-right{
	.opacity(0.7);
	position: absolute;
	right: 0%;
	padding: 10px 20px;
	top: 45%;
	font-weight: bold;
	color: @site_font_color;
	background-color: #ffffff;
	.border-radius(20px 0px 0px 20px);
}
.carousel-indicators li{
	background-color: #c5c3c3;
	border: 0;
}
.carousel-indicators .active{
	background-color: @site_font_color;
}
.bg-mobile{
	display: none;
}

.s1{
	padding-bottom: 35px;
	>.container{
		>.row{
			div{
				width: 100%;
				display: block;
				float: left;
				h3{
					color: @site_font_color;
					font-weight: bold;
    			text-shadow: 0 0px 0 rgba(0,0,0,.25);
    			font-size: @title_font;
    			margin-bottom: 20px;
    			margin-top: 0;
					float: left;
					display: inline-block;;
				}
				ul{
					float: right;
					display: inline-block;
					list-style: none;
					li{
						display: inline-block;
						a{
							display: block;
							padding: 10px;
							background-position: center;
							background-repeat: no-repeat;
							background-color: 	#dadada;
							.border-radius(20);
							margin-right: 15px;
							color: #ffffff;
							text-decoration: none;
							&.tw{
								//background-image: url(../images/share/tw.png);
								&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
									background-color: #1da1f2 !important;
								}
							}
							&.gplus{
								padding: 10px 9px;
								&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
									background-color: #d73d32 !important;
								}
								//background-image: url(../images/share/gplus.png);
							}
							&.fb{
								padding: 10px 14px;
								&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
									background-color: #3b5998 !important;
								}
								//background-image: url(../images/share/fb.png);
							}
							&.link{
								&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
									background-color: #4FA2E7 !important;
								}
								//background-image: url(../images/share/link.png);
							}
						}
						&:last-child{
							a{
								margin-right: 0;
							}
						}
					}
				}
			}
			p{
				color: #6cb1ea;
				font-weight: bold;
    			text-shadow: 0 0px 0 rgba(0,0,0,.25);
    			font-size: @site_normal_font_size;
    			margin-bottom:0;
			}
		}
	}
}
.s2{
	padding-top: 0;
	padding-bottom: 0;
	>.container{
		>.row{
			margin: 0 -8px;
			>.item{
				position: relative;
				display: none;
				padding: 0 8px;
				>a{
					>.title{
						position: absolute;
						.mix_colors();
						top: 7%;
						left: 14%;
						font-size: @title_font;
						font-weight: bold;
					}
					>.short-desc{
						position: absolute;
						color: @gary_font_color;
						top: 18%;
						left: 14%;
						font-weight: bold;
						font-size: 1.429em;
					}
					>.border-theme-color{
						background-image: url(../);
					}
				}
			}
		}
	}
}

.s3{
	padding: 0;
	>.container{
		>.row{
			overflow: hidden;
			img{
				margin: 0;
			}
			.learn-more{
				border: 5px solid @site_font_color;
			}
			.info{
				.desc{
					position: absolute;
					top: 13%;
					left: 10%;
          right: 5%;
          text-decoration: none;
					>h4{
						font-weight: bold;
						color: @site_font_color;
						font-size: @title_font;
						line-height: 32px;
					}
				}
				.go-link{
					position: absolute;
					bottom: 7%;
					right: 7%;
					>button{
						background-color: @site_font_color;
						border: 0;
						-webkit-appearance: none;
						outline: 0;
						color: #ffffff;
						padding: 10px 25px;
						font-size: 1.286em;
						font-weight: 600;
						.border-radius(25px);
					}
				}
			}
			.panel{
				height: 300px !important;
				margin: 0;
				background-size: cover !important;
				background-repeat: no-repeat !important;
				border: 0;
			}
		}
	}
}




.carousel{
	height:auto;
}



.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

#disclaimer {
    background-size: 100% 100%;
    background-color: #FFFFFF;
    background-image: url(../images/declaimer_bg_m.jpg);
    font-size: 1.1em;
    width: 340px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-left: 20px;
    padding-right: 135px;
}
#closeDisclaimer {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: #9a60a5;
    border-radius: 18px;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
    outline: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    min-width: 94px;
}


@media (max-width: 767px) {

	.bg-mobile{
		display: block;
	}
	.bg-desktop{
		display: none;
	}
	.carousel-control.right{
		display: none;
	}
	.carousel-control.left{
		display: none;
	}
	#disclaimer {
	    width: 308px;
	}
	.s2{
		>.container{
			>.row{
				>.item{
					position: relative;
					>a{
						>.title{
							font-size: @item_font_size_m;
						}
						>.short-desc{
						}
					}
				}
			}
		}
	}
	.s3{
		padding: 0;
		>.container{
			>.row{
				.mb-learn-more{
					display: block;
					font-size: @item_font_size_m;
					color: #ffffff;
					background-color: @site_font_color;
					text-decoration: none;
					padding: 10px 20px;
					.border-radius(30px);
					font-weight: bold;
					text-align: center;
				}
			}
		}
	}

}
