@import "var.less";


html, body, .navbar{
	min-width:320px;
}
.mobileOff{
	display: block;
}
.mobileOn{
	display: none;
}
.mobileOn_arrow{
	display: none;
}
.navbar-collapse.in ul li a{
	visibility: visible;
}
a{
	outline: none !important;
}
.navbar{
	background-color: #ffffff;
	background-image: none;
	border: 0;
	.box-shadow(0px 1px 10px 0px rgba(204,204,204,1));
	>.container{
		>.desktop-menu{
			>ul{
				>li{
					>a{
						color: @site_font_color !important;
						font-weight: bold;
						font-size: @site_normal_font_size;
						padding: 0;
						margin: 80px 20px 15px 20px;
						padding-bottom: 8px;
						text-shadow: 0 0px 0 rgba(0,0,0,.25);
						&.nestle-logo{
							margin-top: 62px;
							width: 80px;
							margin-right: 0 !important;
							>img{
								width: 100%;
							}
						}
						&.active{
							box-sizing: border-box;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
							border-bottom: 2px solid #fdbe4a;
							padding-bottom: 5px;
							&:before{
								background: #ffffff;
							}
						}
					}
					>span{
						border-right: 2px solid #ebebeb;
						margin-top: 80px;
						display: block;
						line-height: 20px;
						height: 20px;
					}
					&:last-child{
						>a{
							margin-right: 60px;
						}
					}
					&:first-child{
						a{
								margin-left: 0;
						}
					}
				}

			}
		}
	}
}

footer{
	border-top: 5px solid #5e9dd2;
	background-color: #ffffff !important;
	padding-top: 20px !important;
	padding-bottom: 0 !important;
	>.container{
		border-bottom: 1px solid #5e9dd1;
		padding-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
		max-width: 970px;
		margin-bottom: 20px;
		>ul{
			padding: 0;
			list-style: none;
			margin-bottom: 0;
			>li{
				display: inline-block;
				color: #7c7c7c;
				font-size: 1em;
				a{
					color: #7c7c7c;
					font-size: 1em;
					&:hover{
						color:#737373;
						text-decoration: none;
					}
				}
			}
			&:first-child{
				float: left;
				>li{
					a{
						border-right: 2px solid #7c7c7c;
						padding: 0 20px;
					}
					&:first-child{
						a{
							padding-left: 0;
						}
					}
					&:last-child{
						a{
							border: 0;
						}
					}
				}
			}
			&:last-child{
				float: right;
				//margin-top: 20px;
			}
		}
		&:last-child{
			border: 0;
			>ul{
				float: left;
			}
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}

// form

/* =============================== */

#question{
	.checkbox {
		margin: 0;
	}
	.checkbox label {
		padding-left: 0;
	}
	.btn {
		background-color: @site_font_color;
		text-decoration: none;
		padding: 13px 47px;
		.border-radius(30px);
		color: #ffffff;
		font-size: 1.286em;
		font-weight: bold;
		color: #ffffff !important;
		outline: 0 !important;
		border: 0 !important;
	}
	textarea {
		background-color: #f8f9fb;
		border: 0 !important;
		outline: 0 !important;
		.box-shadow(none) !important;
		margin-bottom: 30px;
	}
	label {
		font-weight: normal;
	}
	input[type=radio].css-checkbox {
		position: absolute;
		z-index: -1000;
		left: -1000px;
		overflow: hidden;
		clip: rect(0 0 0 0);
		height: 1px;
		width: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}
	input[type=radio].css-checkbox + label.css-label {
		padding-left: 25px;
		//height:14px;
		display: inline-block;
		line-height: 20px;
		background-repeat: no-repeat;
		background-position: 0 0;
		vertical-align: middle;
		cursor: pointer;
		font-size: 18px;
	}
	input[type=radio].css-checkbox:checked + label.css-label {
		background-image: url("../images/form/form_checked.jpg");
	}
	label.css-label {
		background-image: url("../images/form/form_uncheck.jpg");
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

.close-modal {
	width: 40px;
	height: 40px;
	background-image: url("../images/form/closebtn.jpg");
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: absolute;
	right: -20px;
	top: -20px;
	padding: 5px;
	.border-radius(25px);
	border: 2px solid @site_font_color;
	cursor: pointer;
	background-color: #ffffff;
}
.modal-content {
	.border-radius(0);
	border-top: 4px solid #cfe4f7;
	.modal-header {
		margin: 0 34px;
		padding: 20px 0 0;
		.modal-title {
			color: @site_font_color;
			font-size: @title_font;
		}
	}
	.modal-body {
		margin: 0 34px;
		padding-left: 0;
		padding-right: 0;
		form {
			border-top: 2px dotted #83aac9;
			.row {
				margin: 0;
				> div {
					line-height: 24px;
				}
				> .left {
					float: left;
					min-height: 20px;
					margin-top: 30px;
					margin-bottom: 30px;
					font-size: 1.286em;
					&.full {
						width: 100%;
					}
				}
				> .right {
					margin-top: 30px;
					margin-bottom: 30px;
					float: right;
					font-size: 1.286em;
					> .disagree {
						display: inline-block;
						float: left;
						padding-right: 10px;
					}
					> .agree {
						display: inline-block;
						padding-left: 10px;
					}
					.checkbox {
						> label {
							&:first-child {
								margin-right: 65px;
							}
						}
					}
				}
				> .bottom {
					display: block;
					float: left;
					margin-bottom: 30px;
					.checkbox-inline {
						margin-right: 35px;
					}
				}
			}
		}
	}
}
.modal {
	text-align: center;
	.line {}
	.line-2 {
		border-top: 2px dotted #e8f2fb;
	}
	textarea {
		resize: none;
		background-color: #f8f9fb;
	}
}
.modal:before {
	display: inline-block;
	vertical-align: middle;
	content: " ";
	height: 100%;
}
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	max-width: 920px;
	width: 90%;
}
.modal-header {
	border: 0;
}
/* =============================== */
/* rating stars */
/****** Style Star Rating Widget *****/
.rating {
	border: none;
	float: left;
	margin: 0;
}
.rating > input {
	display: none;
}
.rating > label:before {
	margin: 0 5px;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}
.rating > .half:before {
	content: "\f089";
	position: absolute;
}
.rating > label {
	color: #ddd;
	cursor: pointer;
	float: right;
	margin-bottom: 0;
}
/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
/* show gold star when clicked */
.rating:not(:checked) > label:hover,
/* hover current star */
.rating:not(:checked) > label:hover ~ label {
	color: #FFD700;
}
/* hover previous stars in list */
.rating > input:checked + label:hover,
/* hover current star when changing rating */
.rating > input:checked ~ label:hover, .rating > label:hover ~ input:checked ~ label,
/* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
	color: #FFED85;
}
/* end rating */



// end form

@media (min-width: 992px) {
	.navbar{
		>.container{
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.navbar > .container > .desktop-menu > ul > li > a {
		margin: 80px 5px 15px 5px;
	}
	.navbar-brand {
		padding: 15px 0;
	}
}
@media (max-width: 767px) {
	.real_list{
		list-style-type:decimal;
		text-align: left;
		font-size: 1.4em
	}
	#menu-overlay{
		width: 100%;
		height: 100%;
		z-index: 99;
		position: fixed;
		background: rgba(200, 200, 200, 0.5);
	}
	.mobileOff{
		display: none !important;
	}
	.mobileOn{
		display: block !important;
	}
	.navbar-header{
		text-align: center;
		margin: 0 auto;
	}
	.navbar-brand{
		margin: 0 24%;
    padding: 15px 0;
		float: none;
		display: block;
	}
	.navbar-toggle{
		position: absolute;
		//left: 24px;
		top: 57px;
		border: 0;

	}
	.navbar-inverse .navbar-toggle .icon-bar{
		background-color: @site_font_color;
		height: 4px;
		.border-radius(4px);
		margin-top: 3px;
	}
	.navbar{
		box-shadow: none;
		>.container{
			>.navbar-header{
				.box-shadow(0px 1px 10px 0px rgba(204,204,204,1));
			}
			>.collapse{
				-webkit-border-bottom-right-radius: 5px;
				-webkit-border-bottom-left-radius: 5px;
				-moz-border-radius-bottomright: 5px;
				-moz-border-radius-bottomleft: 5px;
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
			}
		}
		&.border-class{
			-webkit-border-bottom-right-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-bottomright: 5px;
			-moz-border-radius-bottomleft: 5px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}
	}
	footer{
		margin-top: 10px;
		padding: 17px 0 15px 0 !important;
		>.container{
			text-align: center;
			margin-left: 15px;
			margin-right: 15px;
			padding-bottom: 15px;
			margin-bottom: 15px;
			>ul{
				float: none !important;
				text-align: center;
				&:first-child{
					margin-bottom:10px;
					>li{
						&:last-child{
							a{
								padding-right:0;
							}
						}
					}
				}
			}
			&:last-child{
				padding-bottom: 0;
			}
		}
	}
	.modal-content {
		.modal-header {
			.modal-title {}
		}
		.modal-body {
			form {
				.row {
					margin: 0;
					> div {
						line-height: 24px;
					}
					> .left {
						&.full {
							width: 100%;
						}
					}
					> .right {
						float: left;
						//display: block;
						width: 100%;
						> .disagree {}
						> .agree {}
						.checkbox {
							> label {
								&:first-child {
									margin-right: 10px;
								}
							}
						}
					}
					> .bottom {
						.checkbox-inline {
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 568px){
	.real_list{
		list-style-type:decimal;
		text-align: left;
		font-size: 1.2em
	}
	#question{
		input[type=radio].css-checkbox:checked + label.css-label {
			background-image: none;
			background-color: @site_font_color;
			padding: 5px 20px !important;
			//width: 100px;
			color: #ffffff;
			text-align: center;
			.border-radius(20);
		}
		label.css-label {
			background-image: none;
			background-color: #bcbcbc;
			padding: 5px 20px !important;
			//width: 100px;
			color: #ffffff;
			text-align: center;
			.border-radius(20);
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
	.close-modal {
		width: 20px;
		height: 20px;
		background-image: url("../images/form/closebtn_small.jpg");
		right: -10px;
		top: -9px;
		border: 1px solid @site_font_color;
	}
	.modal-dialog {
		margin-top: 50px;
	}
	.modal-content {
		.modal-header {
			margin: 0 15px;
			.modal-title {}
		}
		.modal-body {
			margin: 0 15px;
			form {
				.submit-button {
					text-align: center;
					padding-top: 20px;
				}
				.row {
					margin: 0;
					> div {
						line-height: 24px;
					}
					> .left {
						margin: 15px 0;
						&.full {
							width: 100%;
						}
					}
					> .right {
						float: left;
						margin: 15px 0;
						//display: block;
						width: 100%;
						> .disagree {}
						> .agree {}
						.checkbox {
							> label {
								&:first-child {
									margin-right: 10px;
								}
							}
						}
					}
					> .bottom {
						.checkbox-inline {
							margin-right: 5px;
						}
					}
					> .last-question {
						input[type=radio].css-checkbox:checked + label.css-label {
							background-color: #00b4e5;
							width: auto;
							padding: 5px 15px !important;
							margin-bottom: 10px;
						}
						label.css-label {
							width: auto;
							padding: 5px 15px !important;
							margin-bottom: 10px;
						}
						.checkbox-inline+.checkbox-inline,
						.radio-inline+.radio-inline {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 320px) {
	.real_list{
		list-style-type:decimal;
		text-align: left;
		font-size: 1em
	}
	.navbar{
		box-shadow: none;
		>.container{
			>.navbar-header{
			}
			>.collapse{
				>ul>{
					li>{
						ul{
							li{
								a{
									margin-right: 15px;
								}
							}
						}
					}
				}
			}
		}
	}
}


/* ham button */

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background-color: #ffffff;
}

/* Icon 1 */
 #nav-icon4 {
  width: 36px;
  height: 21px;
  position: absolute;
  right: 24px;
  top: 57px;
  margin: 0px auto;
  z-index: 99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
	padding: 10px;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: @site_font_color;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 7px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 14px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: translate(8px,-4px) rotate(45deg);
  -moz-transform: translate(8px,-4px) rotate(45deg);
  -o-transform: translate(8px,-4px) rotate(45deg);
  transform: translate(8px,-4px) rotate(45deg);
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: translate(8px,2px) rotate(-45deg);
  -moz-transform: translate(8px,2px) rotate(-45deg);
  -o-transform: translate(8px,2px) rotate(-45deg);
  transform: translate(8px,2px) rotate(-45deg);
  //top: 39px;
  //left: 8px;
}
.open span{
	width: 81% !important;
}

.organic_icon {
	width: 100px;
	position: absolute;
	top: 27%;
	right: 27%;
	display: none !important;
  }
  .new_icon {
	width: 60px;
	position: absolute;
	bottom: 20%;
	left: 29%;
	display: none !important;
  }
  .new_icon.top-p {
	left: auto;
	bottom: auto;
	top: 27%;
	right: 27%;
  }
  