@import "var.less";
.organic_icon {
	width: 100px;
	position: absolute;
	top: 29%;
	right: 27%;
  }
  .organic_icon.col-2-icon {
	top: auto;
	right: auto;
	left: 25%;
	top: 2%;
  }
  .new_icon {
	width: 60px;
	position: absolute;
	bottom: 13%;
	left: 29%;
  }
  .new_icon.top-p {
	left: auto;
	bottom: auto;
	top: 27%;
	right: 27%;
  }
.prod-title{
	>.row{
		>div{
			//padding: 0;
			>.page-header{
				color: @site_font_color;
				font-weight: bold;
				font-size: @item_font_size;
				float: left;
				display: inline-block;;
			}
			ul{
				float: right;
				display: inline-block;
				list-style: none;
				margin: 40px 0 0 0;
				li{
					display: inline-block;
					a{
						display: block;
						padding: 10px;
						background-position: center;
						background-repeat: no-repeat;
						background-color: 	#dadada;
						.border-radius(20);
						margin-right: 15px;
						color: #ffffff;
						text-decoration: none;
						&.tw{
							//background-image: url(../images/share/tw.png);
							&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
								background-color: #1da1f2 !important;
							}
						}
						&.gplus{
							padding: 10px 9px;
							&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
								background-color: #d73d32 !important;
							}
							//background-image: url(../images/share/gplus.png);
						}
						&.fb{
							padding: 10px 14px;
							&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
								background-color: #3b5998 !important;
							}
							//background-image: url(../images/share/fb.png);
						}
						&.link{
							&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
								background-color: #4FA2E7 !important;
							}
							//background-image: url(../images/share/link.png);
						}
					}
					&:last-child{
						a{
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}
.list{
	max-width: 1000px;
	padding: 0;
	margin: 0 auto;
	>.row{
		margin: 0;
		>.panel{
			height: 323px;
		}
		>.item{
			border: 0;
			cursor: pointer;
			position: relative;
			background-size: 100% !important;
			margin-right: 1.5%;
			width: 32.33333%;
			float: left;
			.border-radius(0);
			&:last-child{
				margin-right: 0;
			}
			>a{
				position: absolute;
				cursor: pointer;
				width: 100%;
				height: 100%;
				>.title{
					position: absolute;
					.mix_colors();
					top: 6%;
					left: 8%;
					right: 8%;
					font-size: @title_font;
					font-weight: bold;
					line-height: 100%;
				}
				>.short-desc{
					position: absolute;
					color: @gary_font_color;
					top: 18%;
					left: 8%;
					right: 8%;
					font-weight: bold;
					font-size: 1.429em;
				}
				>.learn-more{
					.mix_bg_colors();
					border: 0;
					text-decoration: none;
					outline: 0;
					color: #ffffff;
					padding: 10px 25px;
					.border-radius(25px);
					position: absolute;
					left: 48%;
					top: 59%;
					font-size: 1.571em;
					font-weight: bold;
				}
			}
			&.text{
				a{
					color: @site_font_color;
				}
			}
      &.more-text {
        >a{
          >.learn-more{
            background-color: @site_font_color;
            border: 0;
            text-decoration: none;
            outline: 0;
            color: #ffffff;
            padding: 10px 25px;
            .border-radius(25px);
            position: absolute;
            left: 48%;
            top: 75%;
            font-size: 1.571em;
            font-weight: bold;
          }
        }
      }
		}
	}
	>.col-2{
		>.item{
			margin-right: 0;
			width: 33.08335%;
			border: 0;
			&:first-child{
				width: 32.33333%;
				margin-right:1.5%;
			}
			&:last-child{
				width: 66.1667%;
				background-size: 100% !important;
				>a{
					>.title{
						top: 29%;
						left: 49%;
					}
					>.short-desc{
						top: 41%;
						left: 49%;
					}
				}
			}
		}
	}
}


.hvr-border-fade{
	&.color1{
		&:hover, &:focus, &:active {
			box-shadow: inset 0 0 0 4px @color1, 0 0 1px rgba(0, 0, 0, 0);
		}
	}
	&.color2{
		&:hover, &:focus, &:active {
			box-shadow: inset 0 0 0 4px @color2, 0 0 1px rgba(0, 0, 0, 0);
		}
	}
	&.color3{
		&:hover, &:focus, &:active {
			box-shadow: inset 0 0 0 4px @color3, 0 0 1px rgba(0, 0, 0, 0);
		}
	}
	&.color4{
		&:hover, &:focus, &:active {
			box-shadow: inset 0 0 0 4px @color4, 0 0 1px rgba(0, 0, 0, 0);
		}
	}
}



@media (max-width: 992px) {
	.list{
		>.row{
			>.item{
				height: 242px;
				&.more-text{
					>a{
						>.learn-more{
							font-size: 1em;
						}
					}
				}
				>a{
					>.short-desc{
						top: 20%;
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.organic_icon.col-2-icon {
		left: 43%;
		top: 22%;
	  }
	.prod-title{
		>.row{
			>div{
				padding: 0 15px;
				>.header{
				}
			}
		}
	}
	.list{
		width: 100%;
		padding: 0 15px;
		>.row{
			>.item{
				height: 20%;
				width: 100%;
				margin-right: 0;
				margin-bottom: 10px;
				&.child{
					display: none;
				}
				&.special-1{
					background-image: url("../images/list/list/sitter_0_home_mb_v2.jpg") !important;
					background-size: 100%!important;
					background-repeat: no-repeat;
					a{
						span{
							text-align: center;
							&.learn-more{
								top: 80%;
								font-size: 1.571em;
								font-weight: 700;
								right: 0;
								left: 0;
								margin: 0 24%;
							}
							&.title{
								left: 0;
								right: 0;
								top: 6%;
							}
							&.short-desc{
								top: 13% !important;
								left: 0;
								right: 0;
							}
						}
					}
					&.crawler-0{
						background-image: url(../images/list/list/crawler_0_home_mb_v2.jpg) !important;
					}
				}
				&.animated{
					display: inline-block !important;
				}
				&.supported-root{
					background-repeat: no-repeat;
					background-image: none !important;
					height: 80px !important;
					background-size: cover !important;
					font-size: 2em;
					padding: 10px 0;
					font-weight: bold;
					.mix_bg_colors();
					color: #ffffff;
					margin-bottom: 0;
					>img{
						 display: inline-block !important;
						 margin-left: 8%;
					}
					>span{
						display: inline-block !important;
						&.title{
							padding-left: 20px;
							font-size: .6em;
							vertical-align: middle;
						}
						&.arrow{
							position: absolute;
							right: 5%;
							top:22%;
						}
					}
				}
			}
			&.col-2{
				>.item{
					width: 100% !important;
				}
			}
		}
	}
	.list > .row > .item.more-text > a > .learn-more{
		bottom: 7%;
		right: 7%;
		left: auto;
		top: auto;
		font-size: 1.4em;
	}
	.list > .row > .item > a > .short-desc{
		top: 13% !important
	}
}
@media (max-width: 374px) {
	.list > .row > .item.supported-root > span.title span{
		font-size:0.8em !important;
	}
	.list > .row > .item > a > .short-desc, .list > .row > .item.special-1 a span.short-desc{
		top: 15% !important
	}
}
@media (max-width: 320px) {
	.list>.row>.item.special-1 a span.learn-more{
		font-size: 1em;
	}
}
