

/* Global Styles */

html, body {
    height: 100%;
    font-family: Microsoft JhengHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

body {
    padding-top: 131px;
    padding-bottom: 20px;
    background-color: #eff4f8;
}

.dropdown {
    cursor:pointer;
}

a{
  cursor: pointer;
  outline: none;
}
.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
    /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
    height: 520px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 1px;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}

/* Pricing Page Styles */
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

/* override */
.carousel-control.left{
    background-image: none;
}
.carousel-control.right{
    background-image: none;
}


/* Footer Styles */
footer {
    margin-top: 150px;
}

#safaricopy .modal-header p{
  margin-bottom: 0;
}
#cur{
  width: 100%;
  //border: 0;
  text-align: center;
}
#btn{
  cursor: pointer;
}
#small-dialog{
  overflow: auto;
}
#small-dialog p{
  text-align: center;
  font-weight: bold;
  word-break: break-all;
}
#small-dialog textarea{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 60px;
  text-align: center;
  border-radius: 0;
  box-shadow: 0;
  border: 0;
}
#afterform-contactus{
  max-width: 210px;
/* height: 200px; */
margin: 0 auto;
}
#afterform-contactus .mfp-close{
  top:12px;
}
#afterform-contactus p{
  background-color: #ffffff;
  width: 200px;
  padding-top: 20px;
  text-align: center;
  height: 60px;
  margin: 0 auto;
}
#copypopup{
  max-width: 210px;
/* height: 200px; */
margin: 0 auto;
}
#copypopup .mfp-close{
  top:12px;
}
#copypopup p{
  background-color: #ffffff;
  width: 200px;
  padding-top: 20px;
  text-align: center;
  height: 60px;
  margin: 0 auto;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
	background-color: #2098d1 !important;
}

/* Responsive Styles */
@media (max-width: 767px) {

    .carousel {
        height: 200px;
        /* increases the carousel height so it looks good on phones */
    }
    .carousel-indicators{
        bottom: -40px;
    }
}
