@import "var.less";
@light_blue: #6faeda;

.container {
	> .row {
		> .header-type {
			> img {
				margin: 32px 0 28px;
			}
		}
		>.page-header{
			border: 0;
			&.related-title{
				font-size: @item_font_size;
				color: @site_font_color;
				font-weight: bold;
			}
		}
	}
	&.stage-wrapper {
		> .stage {
			> .header-type {
				ul {
					list-style: none;
					padding: 0;
					position: relative;
					li {
						display: inline-block;
						position: relative;
						img {
							position: relative;
							left: -20px;
						}
						&:first-child {
							img {
								left: 0;
								z-index: 4;
							}
						}
						&.stage2 {
							img {
								left: -10%;
								z-index: 3;
							}
						}
						&.stage3 {
							img {
								left: -20%;
								z-index: 2;
							}
						}
						&.stage4 {
							position: absolute;
							img {
								left: -25%;
							}
						}
					}
				}
			}
		}
	}
	&.article {
		max-width: 1000px;
		border: 1px solid #e9eef2;
		background-color: #ffffff;
		> .title {
			border-top: 4px solid #cfe4f7;
			> .col-lg-12 {
				margin-top: 40px;
				margin-bottom: 50px;
				> .page-header {
					border: 0;
					margin: 0;
					color: @site_font_color;
					font-weight: bold;
					font-size: 2.143em;
					padding-bottom: 5px;
				}
				small {
					font-size: 1.429em;
					color: @light_blue;
				}
				ul{
					list-style: none;
					padding: 0;
					margin-top: 10px;

					li{
						display: inline-block;
						a{
							display: block;
							padding: 10px;
							background-position: center;
							background-repeat: no-repeat;
							background-color: 	#dadada;
							.border-radius(20);
							margin-right: 15px;
							color: #ffffff;
							text-decoration: none;
							&.tw{
								//background-image: url(../images/share/tw.png);
								&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
									background-color: #1da1f2 !important;
								}
							}
							&.gplus{
								padding: 10px 9px;
								&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
									background-color: #d73d32 !important;
								}
								//background-image: url(../images/share/gplus.png);
							}
							&.fb{
								padding: 10px 14px;
								&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
									background-color: #3b5998 !important;
								}
								//background-image: url(../images/share/fb.png);
							}
							&.link{
								&.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active{
									background-color: #4FA2E7 !important;
								}
								//background-image: url(../images/share/link.png);
							}
						}
						&:last-child{
							a{
								margin-right: 0;
							}
						}
					}
				}
				.stage-icon{
					position: absolute;
					text-align: center;
					right: 15px;
					top: 0;
					>img{
						max-width: 65px;
						width: 100%;
						display: block;
					}
					span{
						text-align: center;
						font-size: 1.143em;
						position: relative;
						top: 2px;
					}
				}
			}
		}
		> .row {
			padding: 0 5%;
			> .product-img {
				> img {
					margin: 0 auto;
					padding-top: 10px;
					max-width: 226px;
					display: block;
				}
			}
			&.info {
				> .product-img {
					> .learn-more {
						text-align: center;
						margin-top: 70px;
						margin-bottom: 20px;
						> a {
							background-color: @site_font_color;
							text-decoration: none;
							padding: 10px 20px;
							.border-radius(25px);
							color: #ffffff;
							font-size: @item_font_size;
							font-weight: bold;
							> i {
								padding-left: 10px;
								font-size: 1.286em;
							}
							&:hover{
								//background-color: @light_blue;
							}
						}
					}
				}
				> .info-title {
					position: relative;
					max-width: 480px;
					.shadow {
						display:none;
						position: absolute;
						bottom: 0;
						width: 100%;
						z-index: 2;
						height: 70px;
						background-image: url(../images/shadow.png);
						background-size: 100%;
						//.box-shadow(inset white 0 -15px 10px);
					}
					> .top-title {
						padding-bottom: 15px;
						&.no-top{
							h2{
								margin-top: 0;
							}
						}
					}
					div {
						padding-bottom: 5px;
						h2 {
							color: @site_font_color;
							font-size: @item_font_size;
							font-weight: bold;
						}
						h4 {
							color: @light_blue;
							font-weight: bold;
						}
						p {
							color: #777777;
							font-size: @site_normal_font_size;
							padding-top: 5px;
						}
						.remark{
							font-size: 1.143em;
							margin-bottom: 0;
							&.bold{
								font-weight: bold;
							}
						}
						ul {
							padding-left: 27px;
							padding-top: 5px;
							list-style: disc;
							li {
								padding-left: 5px;
								font-size: @site_normal_font_size;
								color: #7e7e7e;
							}
						}
						&.info-head {
							> p {
								padding: 0 0 5px;
							}
						}
					}
					.scroll-pane {
						outline: none;
						border: 0;
						height: 500px;
						.jspPane {
							> div {
								padding-right: 35px;
							}
						}
					}
				}
			}
			> .line {
				height: 2px;
				width: 100%;
				background: url("../images/product/dotbg.jpg");
				margin: 70px 0 50px;
			}
			&.related-product {
				position: relative;
				margin-bottom: 50px;
				.lSSlideOuter{
					position: relative;
				}
				.right-hidden{
					position: absolute;
					right: 0;
					top:0;
					height: 100%;
					width: 5px;
					background-color: #ffffff;
				}
				#lightSlider {
					li {
						text-align: center;
						border-right: 1px solid #e5ecf1;
						&.active{
							//border-right: 1px solid #e5ecf1;
						}
						&.border{
							//border-right: 1px solid #e5ecf1;
						}
						> a {
							height: 160px;
							display: block;
							background-size: contain !important;
							background-repeat: no-repeat !important;
							background-position: center center !important;
						}
						h3{
							color: @light_blue;
							margin-bottom: 0px;
							>span{
								    color: #95969a;
								    font-size: 0.8em;
							}
						}
					}
				}
				.lSPager {
					display: none;
				}
				> .lSAction {
					> .lSPrev {}
					> a {
						> i {
							font-size: 1.714em;
							color: @site_font_color;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 992px) {
.container.article>.row.info>.info-title{
	max-width: 100% !important
}
.container.article>.row.info>.info-title .scroll-pane{
	width: 100% !important;
}
.jspContainer{
	width: 100% !important;
}
}
@media (max-width: 768px) {
	.container {
		> .row {
			> .header-type {
				> img {}
			}
		}
		&.article {
			> .title {
				> .col-lg-12 {
					> .page-header {}
				}
			}
			> .row {
				padding: 0 5%;
				> .product-img {
					> img {}
				}
				&.info {
					> .product-img {
						> .learn-more {
							> a {
								> i {}
							}
						}
					}
					> .info-title {
						position: relative;
						max-width: 100%;
						.shadow {}
						> .top-title {
							padding-bottom: 15px;
						}
						div {
							padding-bottom: 5px;
							h2 {
								color: @site_font_color;
							}
							h4 {
								color: #5e9dd2;
							}
							p {}
							ul {
								li {}
							}
							&.info-head {
								> p {
									padding: 0 0 5px;
								}
							}
						}
						.scroll-pane {
							outline: none;
							border: 0;
							max-width: 100%;
							.jspPane {
								> div {
									padding-right: 35px;
								}
							}
						}
					}
				}
				> .line {}
				&.related-product {
					position: relative;
					#lightSlider {
						li {
							text-align: center;
							> a {}
						}
					}
					.lSPager {
						display: none;
					}
					> .lSAction {
						> .lSPrev {}
						> a {
							> i {
								font-size: 1.714em;
								color: @site_font_color;
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}

}
@media (max-width: 760px) {
	.lslide{
		border: 0 !important;
	}
	.clone{
		border: 0 !important;
	}

	.container {
		> .row {
			> .header-type {
				> img {}
			}
		}
		&.article {
			> .title {
				> .col-lg-12 {
					margin-top: 40px;
					margin-bottom: 40px;
					> .page-header {}
					> small{
						font-size: 1.714em
					}
				}
			}
			> .row {
				> .product-img {
					> img {
						max-width: 143px;
						margin-bottom: 50px;
					}
				}
				&.info {
					> .product-img {
						> .learn-more {
							> a {
								> i {}
							}
						}
					}
					> .info-title {
						.shadow {}
						> .top-title {
						}
						div {
							.hidden-div{
								display: none;
							}
							.load-more{
								text-align: center;
								margin-top: 20px;
								.fa{
									font-size: 1.714em;
									padding: 5px 9px;
									text-align: center;
									font-weight: bold;
									background-color: #cfe4f6;
									.border-radius(43);
									color: #ffffff;
								}
							}
							.learn-more{
								text-align: center;
								margin-top: 50px;
								margin-bottom: 20px;
								> a {
									background-color: @site_font_color;
									text-decoration: none;
									padding: 10px 20px;
									.border-radius(25px);
									color: #ffffff;
									font-size: 1.429em;
									font-weight: bold;
									> i {
										padding-left: 10px;
										font-size: 1.286em;
									}
								}
							}
							h2 {
							}
							h4 {
							}
							p {}
							ul {
								li {}
							}
							&.info-head {
								> p {
								}
							}
						}
						.scroll-pane {
							.jspPane {
								> div {
								}
							}
						}
					}
				}
				> .line {}
				&.related-product {
					#lightSlider {
						li {
							> a {}
						}
					}
					.lSPager {
						display: none;
					}
					> .lSAction {
						> .lSPrev {}
						> a {
							> i {
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 320px) {
	.container.article>.row.info>.info-title div .learn-more>a{
		font-size: 1em;
	}
}
