/* Less CSS Document */
/* Will be auto compiled to CSS file on save */
@import "lesshat.less";

@color1:#eebf3f;
@color2:#00b4e5;
@color3:#fb8933;
@color4:#5dbb5d;


@site_font_color:#073d7d;

@item_font_size:1.714em;
@item_font_size_m:1.714em;
@item_desc_font_size:1.214em;
@gary_font_color:#95969a;
@site_normal_font_size:1.286em;
@title_font:2.000em;

.mix_colors2(){
	.color1 &{
		color:@color1;
	}
	.color2 &{
		color:@color2;
	}
	.color3 &{
		color:@color3;
	}
	.color4 &{
		color:@color4;
	}
}
.mix_bg_colors2(){
	.color1 &{
		border-color:@color1;
	}
	.color2 &{
		border-color:@color2;
	}
	.color3 &{
		border-color:@color3;
	}
	.color4 &{
		border-color:@color4;
	}
}
.mix_colors(){
	&.color1{
		color:@color1;
	}
	&.color2{
		color:@color2;
	}
	&.color3{
		color:@color3;
	}
	&.color4{
		color:@color4;
	}
}
.mix_bg_colors(){
	&.color1{
		background-color:@color1;
	}
	&.color2{
		background-color:@color2;
	}
	&.color3{
		background-color:@color3;
	}
	&.color4{
		background-color:@color4;
	}
}

.mix_ratio(@w,@h){ 
	position:relative;
	height:auto;
	 
	&:before{
		content: "";
		display: block;
		padding-top: percentage(@h/@w);
	}	
} 