* html #cPcolor
{

	background-image : none;
    filter           : progid:DXImageTransform.Microsoft.AlphaImageLoader
                       (src='pickerbg.png', sizingMethod='scale'); /* changer le chemin si necessaire */
}

#cPhue
{

	background-image : none;
    filter           : progid:DXImageTransform.Microsoft.AlphaImageLoader
                       (src='hue.png', sizingMethod='scale'); /* changer le chemin si necessaire */
}


#cPbuttok{
	margin-bottom:-1px;
}
