﻿@charset "utf-8";
body {
	margin: 0px;
	height: 100%;
	font-size: 11px;
	background-color: #efe9dd;
}
html, body, a, th, td, p, pre, input, select, textarea, option, li {
	font-size: 8pt;
	color: #4B4B4B;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 12pt;
}

ul { 
	list-style: none;
	margin-left: 15px; 
}
ul li {
	padding-left: 10px;
	background-image: url(point.gif);
	background-repeat: no-repeat;
	background-position: 0 .5em;
}
.admin ul li {
	padding-left: 0px;
	background-image: none;
}

a {
	color: #d55b84;
	text-decoration: none;
}
a:hover {
	color: #988675;
	text-decoration: underline;
}
input{
	padding: 2px;
	border: 1px solid #d6c7c6;
	background-color: #E8E8E8;
	line-height: 120%;
	height: 20px;
}
textarea{
	padding: 2px;
	border: 1px solid #d6c7c6;
	background-color: #E8E8E8;
	line-height: 120%;
	width: 100%;
}
select {
	font-size: 10px;
	background-color: #E8E8E8;
	}
.box {
	width: 20px !important;
	border: 0;
	margin: -1px;
	background-color: transparent;
	}
label {
	cursor: hand;
	}

ul {
	margin: 0 0 0 0;
	}
.form  td, .form  th{
	height: 30px;
	border: solid #E0E0E0;
	border-width: 0 0 1px 0;
	padding: 5px;
}
.form th  {
	text-align: left;
	font-weight: bold;
	padding: 5px 10px 5px 5px;
	width: 95px;
}
.list  td{
	padding: 5px 0 0 0;
}
.list  th{
	height: 30px;
	padding: 5px;
	background-color: #e4d9c3;
	border-top: 1px solid #d4c7ad;
	border-bottom: 1px solid #d4c7ad;
}
.info  {
	color: #4a3b3b;
}
.url {
	color: #d55b84;
	font-size: 10px;
}
.title {
	color: #7d6565;
	font-weight: bold;
	font-size: 14px;	
}