@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?k5pgny');
    src:    url('fonts/icomoon.eot?k5pgny#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?k5pgny') format('truetype'),
        url('fonts/icomoon.woff?k5pgny') format('woff'),
        url('fonts/icomoon.svg?k5pgny#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-logo:before {
    content: "\e900";
}
.icon-google-plus:before {
    content: "\e901";
}
.icon-twitter-logo-silhouette:before {
    content: "\e902";
}
.icon-unlink:before {
    content: "\e903";
}

